.filterContainer1{
    height: 5rem;
    width: 100%;
    padding: 0;
    
}

.trackButton1{
    width: auto;
    padding: 0 0.7rem;
}

.trackButton1 img{
    width: 2.2rem;
    height: 1.5rem;
}

.equipContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    margin: auto;
    padding-bottom: 1rem; 
}

.subViewApproveContainer{
    width: 100%;
    height: auto;
    background-color: snow;
    border-radius: 0.3rem;
    border: 1px solid #b8b8b8;
    padding-bottom: 2rem;
    margin-top: 2.5rem;
}

.viewInfoCotainer{
    display: flex;
    flex-direction: column;
}

.imageContainer4{
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 2rem;
    padding-top: 1.5rem;
}

#imageContainer4{
    margin: auto;
    width: auto;
    height: 15rem;
    color: rgb(2, 116, 200); 
    gap: 1rem;
}

#imageContainer4 h2{
    /* outline: 1px solid red; */
}

.subImageContainer5,
.equipImage,
.equipImage3{
    height: 11rem;
    width: 11rem;
    border: solid gray 1px;
    border-radius: 0.5rem;
}

.equipImage,
.equipImage3{
    border-bottom: 1px solid gray;

}

.equipImage2{
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
}

.uploadButtonContainer1,
.uploadButtonContainer6{
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.uploadButton1{
    height: 2rem;
    width: auto;
    padding: 0rem 1rem;
    border-radius: 0.5rem;
    border: none;
    background-color: rgb(2, 116, 200);
    color: white;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.15s;
}

.uploadButton1:hover{
    background-color: rgb(2, 84, 143);
}

.uploadButton1:active{
    background-color: rgb(2, 116, 200);
    transform: scale(0.9);
}

.uploadIcon1{
    height: 1rem;
    margin-right: 0.5rem;
    filter: invert(100%);
}

input{
    padding-left: 1rem;
}

/* view end user */

.subInfoEquipContainer2{
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: right;
    flex-direction: column;
    position: relative;
    width: 90%;
}

.userHandler {
    display: flex;
    margin-right: 1rem; 
    background-color: rgb(207, 224, 236);
    padding: 0.2rem 0.5rem;
    border-radius: 0.1rem;
    overflow: auto;
}

.viewButton{
    height: 2rem;
    padding: 1rem;
    background-color: transparent;
    border-radius: 0.3rem;
    color: rgb(2, 116, 200);
    border: none;
    transition: all 0.15s;
    cursor: pointer;
    margin-top: -1rem;
    margin-left: auto;
    display: flex;
    align-items: center;
    font-size: 1rem;
}

.viewButton:hover{
    background-color: rgb(2, 116, 200);
    color: white;
}

.viewButton:active{
    background-color: rgb(2, 116, 200);
    color: white;
    transform: scale(0.9);
}

#userContainer{
    margin-top: 0.5rem;
    width: 100%;
    border-radius: 0.5rem;
    background-color: #fff;
    border: 1px solid gray;
}

.viewmoreHeader{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    padding: 1.3rem 0rem;
    margin: auto;
    border-bottom: solid rgb(2, 116, 200) 1px;
}

.viewmoreHeader p{
    font-size: 1.1rem;
    font-weight: bold;
}

.subUserContainer1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 90%;
    margin: auto;
    padding: 1rem 0rem;
    font-size: 1.1rem;
}

.subUserContainer1 .unit{
    margin-right: 3rem;
}

.userContainer1{
    margin-top: 1rem;
    width: 100%;
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7);
    
}

.infoEquipContainer1{
    height: 5rem;
    margin-bottom: 1rem;
}

.subUserContainer2{
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 1.2rem 2rem;
    color: #000;
    border-bottom: solid rgb(2, 116, 200) 1px;
    font-size: 1.2rem;
    font-weight: 600;
}

.approveInfoContainer{
    height: auto;
    gap: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 1.5rem;
}

.subApproveInfoContainer, .subApproveInfoContainer1, .approveContainer{
    height: 6rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    width: 100%;
}

#subApproveInfoContainer{
    margin-top: 6rem;
    height: 12rem;
}

#subApproveInfoContainer1{
    margin-top: 6rem;
    margin-bottom: 14rem;
}

#instruction{
    margin-top: -5.5rem;
}

#subApproveInfoContainer .approveContainer{
    height: 100%;
}

#subApproveInfoContainer .container4{
    height: 100%;
}

#subApproveInfoContainer span{
    color: red;
    font-size: 1.3rem;
}

.descContainer input{
    height: 100%;
    width: 100%;
}

.descContainer span{
    color: red;
    font-size: 1.3rem;
}


.approveContainer1{
    gap: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    width: 100%;
}

.subApproveInfoContainer2{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    width: 85%;
    padding-right: 0.5rem;
    height: 100%;
    margin: 3rem auto;
    /* outline: 1px solid red; */
}

#subApproveInfoContainer2{
    padding-top: 5.5rem;
}

.labelContainer1{
    font-size: 1.2rem;
    width: 100%;
    text-align: start;
}

.text1{
    margin-left: 0.5rem;
    background-color: #fff;
    font-weight: 600;
}

#text1{
    margin: auto;
}

.container4{
    height: 3rem;
    width: 100%;
    border-radius: 0.5rem;
    border: solid gray 1px;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    background-color: #fff;
}

.container5{
    height: 9rem;
    width: 100%;
    border-radius: 0.5rem;
    border: solid gray 1px;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

.descriptionContainer{
    height: 12rem;
    margin-top: 3rem;
    /* outline: 1px solid red; */
    width: 85%;
    margin: auto;
}

.descriptionContainer1{
    height: 12rem;
    width: 85%;
    margin: auto;
}

/* agreement modal */

.reportContainer{
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1.2rem;
    position: relative;
}

.dropdown-content {
    position: absolute;
    top: 130%; 
    right: -20%;
    background-color: snow;
    min-width: 15rem;
    padding: 2rem;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.7);
    z-index: 1;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
}

.dropdown-content h4{
    text-align: center;
}

.dropdown-content p{
    text-align: justify;
}

.dropdown-content button{
   margin-top: 1.5rem;
   width: 100%;
}

#agreementCheckbox{
    cursor: pointer;
}

.proceed{
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: rgb(2, 116, 200);
    border: none;
    color: #fff;
    font-size: 0.9rem;
    font-weight: bolder;
    cursor: pointer;
}

/* warranty */

.warrantyContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    z-index: 999; 
}

/* success/error */

.success-container,
.error-container {
    display: none;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
}

.success-container {
    background-color: #d4edda;
    color: #155724;
}

.error-container {
    background-color: #f8d7da;
    color: #721c24;
}

#buttonContainer2{
    width: 85%;
    margin: auto;
}

#buttonContainer2 p{
    margin-right: auto;
}

#buttonContainer2 p{
    font-weight: 500;
    color: gray;
}

#viewInfoContainer{
    padding-bottom: 1rem;
}

.unitSelected{
    font-size: 1.3rem;
    font-weight: bold;
    padding: 1.5rem 0rem;
    color: rgb(2, 116, 200);
    margin-top: 8rem;
    border-top: 1px solid gray;
}

.selectedContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    height: auto;
}
.selectedunitInfo{
    display: flex;
    gap: 1rem;
}

.descContainer{
    height: 10rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    width: 100%;
}

/* approved notification */

.container {
    width: 80%;
    height: auto;
    margin: 2rem auto;
    padding: 2rem 1rem;
    text-align: center;
    transition: height 0.3s ease;
    overflow: hidden;
  }

  .check {
    background-color: rgba(0, 128, 0, 0.69);
    height: 5rem;
    width: 5rem;
    padding: 0.5rem;
    margin-bottom: 3rem;
    border-radius: 5rem;
  }

  .check p{
    font-size: 3rem;
    color: #fff;
  }
  
  .message {
    font-weight: bold;
    font-size: 1.4rem;
    margin-bottom: 3rem;
  }

  .paragraph {
    font-size: 1.1rem;
    margin-bottom: 3rem;
    line-height: 2rem;
  }

  .report-info {
    display: none;
    padding-top: 1rem;
    line-height: 2rem;
  }

  .report-info span{
    font-size: 1.1rem;
    font-weight: 600;
    margin-left: 0.7rem;
  }

  .report-info .approvedDate{
    font-size: 1rem;
    color: #333333b8;
  }

  .button {
    background-color: rgb(2, 116, 200);
    border-radius: 0.3rem;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1rem;
  }

  .button:hover{
    background-color: transparent;
    border: solid rgb(2, 116, 200) 1px;
    color: rgb(2, 116, 200);
    }

    .button:active{
    transform: scale(0.9);
    }

  /* unit transfer notif */

  .received {
    background-color:  rgb(2, 116, 200);
    height: 5rem;
    width: 5rem;
    padding: 0.5rem;
    margin-bottom: 3rem;
    border-radius: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .received img{
    filter: invert(100%);
    width: 3.5rem;
    height: 3.5rem;
  }

  /* replacement form */

  .equipImageContainer{
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
}

.subEquipImageContainer{
    height: 12rem;
    width: 12rem;
    border-radius: 0.5rem;
    border: 1px solid gray;
}

.report-info a{
    color: blue;
    border-bottom: 1px solid blue;
    padding-bottom: 0.2rem;
}

/*laptop*/
@media only screen and (min-width: 1025px){
    .equipContainer{
        width: 70%;
    }
    .filterContainer1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;
        height: 5rem;
        width: 100%;
    }

    .subViewApproveContainer{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 0rem;
    }

    .viewInfoContainer{
        display: flex;
        flex-direction: row;
        padding: 1.5rem;
        width: 93%;
    }

    #viewInfoContainer1{
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #approveInfoContainer,
    #viewInfoContainer1 .approveInfoContainer{
        width: 100%;
    }

    .imageContainer4{
        width: 20rem;
        height: 20rem;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }

    #imageContainer4{
        gap: 1rem;
        margin-right: auto;
        margin-left: 0.3rem;
    }

    .subImageContainer5{
        height: 15rem;
        width: 15rem;
    }

    .equipImage, 
    .equipImage3{
        height: 15rem;
        width: 14rem;
        margin-bottom: auto;
    }

    .equipImage3{
        margin-top: 1.5rem;
    }

    #article{
        padding: 0;
        margin-top: -0.5rem;
        margin-bottom: auto;
    }

    #article p{
        padding-left: 2rem;
    }

    .approveInfoContainer{
        width: 40rem;
        height: auto;
    }

    #approveContainer{
        width: 50%;
    }
    
    #approveContainer .container4{
        text-align: center;
        padding-left: 0rem;
    }

    .subApproveInfoContainer1{
        display: flex;
        flex-direction: row;
    }

    .subApproveInfoContainer2{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin-top: 2rem;
    }

    #subApproveInfoContainer2{
        padding-top: 0rem;
    }

    #subApproveInfoContainer{
        margin-top: 0rem;
    }

    #subApproveInfoContainer1{
        margin-top: 0rem;
        margin-bottom: 0rem;
    }

    #instruction{
        margin-top: 0rem;
    }

    .viewApproveContainer{
        height: 100vh;
    }

    .unitSelected{
        margin-top: 0rem;
    }

    .container5{
        height: 9rem;
        width: 100%;
        border-radius: 0.5rem;
        border: solid gray 1px;
        display: flex;
        align-items: center;
        font-size: 1.2rem;
    }
    
    .descriptionContainer{
        height: 12rem;
        margin-top: 1rem;
    }

    .descriptionContainer1{
        height: 12rem;
        margin-top: 1rem;
    }

    .uploadButtonContainer1{
        width: 75%;
        margin-bottom: 1.5rem;
    }
}

/* *Copyright © 2024 WebCraft - All Rights Reserved*
        *Administartive Office Facility Reservation and Management System*
        *IT 132 - Software Engineering *
        *(WebCraft) Members:
            Falcatan, Khriz Marr
            Gabotero, Rogie
            Taborada, John Mark
            Tingkasan, Padwa 
            Villares, Arp-J* */