.filterContainer1{
    outline: red dashed 1px;
    height: 5rem;
    width: 100%;
    padding: 0;
    
}

.trackButton1{
    width: auto;
    padding: 0 0.7rem;
}

.trackButton1 img{
    width: 2.2rem;
    height: 1.5rem;
}

.equipContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    margin: auto;
    outline: 1px solid red;
    padding-bottom: 1rem;
}

.subViewApproveContainer{
    width: 100%;
    background-color: snow;
    border-radius: 0.5rem;
    /* padding: 1rem 1.5rem; */
    padding-bottom: 2rem;
    /* outline: 1px solid red; */
}

.viewInfoCotainer{
    display: flex;
    flex-direction: column;
}

.imageContainer4{
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 2rem;
    padding-top: 1.5rem;
}

#imageContainer4{
    margin: auto;
    width: auto;
    height: 15rem;
    color: rgb(2, 116, 200); 
    /* outline: 1px solid red; */
    gap: 1rem;
}

#imageContainer4 h2{
    /* outline: 1px solid red; */
}

.subImageContainer5,
.equipImage{
    height: 11rem;
    width: 11rem;
    border: solid rgb(2, 116, 200) 1px;
    border-radius: 0.5rem;
}

.equipImage{
    border-bottom: 1px solid gray;

}

.equipImage2{
    height: 100%;
    width: 100%;
}

input{
    padding-left: 1rem;
}

/* view end user */

.subInfoEquipContainer2{
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: right;
    flex-direction: column;
    position: relative;
}

.userHandler {
    display: flex;
    margin-right: 1rem; 
    background-color: rgb(207, 224, 236);
    padding: 0.2rem 0.5rem;
    border-radius: 0.1rem;
    overflow: auto;
}

.viewButton{
    height: 2rem;
    width: 6rem;
    background-color: transparent;
    border-radius: 0.5rem;
    color: rgb(2, 116, 200);
    border: none;
    transition: all 0.15s;
    cursor: pointer;
    position: absolute;
    right: 0;
    margin-right: 1rem;
    margin-top: -1.9rem;
    font-size: 1rem;
    font-weight: bold;
}

.viewButton:hover{
    background-color: rgb(2, 116, 200);
    color: white;
}

.viewButton:active{
    background-color: rgb(2, 116, 200);
    color: white;
    transform: scale(0.9);
}

.userContainer1{
    margin-top: 1rem;
    width: 100%;
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7);
}

.infoEquipContainer1{
    height: 5rem;
    margin-bottom: 1rem;
}

.subUserContainer2{
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 1.2rem 2rem;
    color: #000;
    border-bottom: solid rgb(2, 116, 200) 1px;
    font-size: 1.2rem;
    font-weight: 600;
}

.subUserContainer1{
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 1rem 5rem;
    padding-left: 1rem;
    color: #000;
}

.approveInfoContainer{
    height: 28rem;
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
    /* outline: 1px solid red; */
    padding: 0 1.5rem;
}

.subApproveInfoContainer, .subApproveInfoContainer1, .approveContainer{
    height: 6rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    width: 100%;
}

.approveContainer1{
    gap: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    width: 100%;
}

.subApproveInfoContainer2{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    width: 85%;
    padding-right: 0.5rem;
    height: 100%;
    margin: 3rem auto;
    /* outline: 1px solid red; */
}

.labelContainer1{
    font-size: 1.2rem;
    width: 100%;
    text-align: start;
}

.text1{
    margin-left: 0.5rem;
    background-color: #fff;
    font-weight: 600;
}

#text1{
    margin: auto;
}

.container4{
    height: 3rem;
    width: 100%;
    border-radius: 0.5rem;
    border: solid gray 1px;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    background-color: #fff;
}

.container5{
    height: 9rem;
    width: 100%;
    border-radius: 0.5rem;
    border: solid gray 1px;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

.descriptionContainer{
    height: 12rem;
    margin-top: 3rem;
    /* outline: 1px solid red; */
    width: 85%;
    margin: auto;
}

.descriptionContainer1{
    height: 12rem;
    width: 85%;
    margin: auto;
}

/* agreement modal */

.reportContainer{
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1.2rem;
    position: relative;
}

.dropdown-content {
    position: absolute;
    top: 130%; 
    right: -20%;
    background-color: snow;
    min-width: 15rem;
    padding: 2rem;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.7);
    z-index: 1;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
}

.dropdown-content h4{
    text-align: center;
}

.dropdown-content p{
    text-align: justify;
}

.dropdown-content button{
   margin-top: 1.5rem;
   width: 100%;
}

#agreementCheckbox{
    cursor: pointer;
}

.proceed{
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: rgb(2, 116, 200);
    border: none;
    color: #fff;
    font-size: 0.9rem;
    font-weight: bolder;
    cursor: pointer;
}

/* warranty */

.warrantyContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.144); 
    z-index: 999; 
}

/* success/error */

.success-container,
.error-container {
    display: none;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
}

.success-container {
    background-color: #d4edda;
    color: #155724;
}

.error-container {
    background-color: #f8d7da;
    color: #721c24;
}

#buttonContainer2{
    width: 85%;
    margin: auto;
}

#viewInfoContainer{
    border-bottom: 1px solid gray;
    padding-bottom: 1rem;
}

.unitSelected{
    font-size: 1.3rem;
    font-weight: bold;
    padding-top: 1rem;
    color: rgb(2, 116, 200);
}

.selectedContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    height: auto;
}
.selectedunitInfo{
    display: flex;
    gap: 1rem;
}

.descContainer{
    height: 10rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    width: 100%;
}

.descContainer input{
    height: 100%;
    width: 100%;
}

.descContainer span{
    color: red;
    font-size: 1.3rem;
}

/*laptop*/
@media only screen and (min-width: 1025px){
    .equipContainer{
        width: 70%;
    }
    .filterContainer1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;
        height: 5rem;
        width: 100%;
    }

    .subViewApproveContainer{
        width: 100%;
    }

    .viewInfoContainer{
        display: flex;
        flex-direction: row;
        padding: 1.5rem;
        width: 93%;
    }

    .imageContainer4{
        width: 20rem;
        height: 20rem;
    }

    #imageContainer4{
        gap: 1rem;
        margin-right: auto;
        margin-left: 0.3rem;
    }

    .subImageContainer5{
        height: 15rem;
        width: 15rem;
    }

    .equipImage{
        height: 11rem;
        width: 11rem;
        margin-bottom: auto;
    }

    #article{
        padding: 0;
        margin-top: -3rem;
        margin-bottom: auto;
    }

    .approveInfoContainer{
        width: 40rem;
        height: auto;
    }

    .subApproveInfoContainer1{
        display: flex;
        flex-direction: row;
    }

    .subApproveInfoContainer2{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin-top: 2rem;
    }

    .viewApproveContainer{
        height: 100vh;
    }

    .subViewApproveContainer{
        width: 100%;
    }

    .container5{
        height: 9rem;
        width: 100%;
        border-radius: 0.5rem;
        border: solid gray 1px;
        display: flex;
        align-items: center;
        font-size: 1.2rem;
    }
    
    .descriptionContainer{
        height: 12rem;
        margin-top: 1rem;
    }

    .descriptionContainer1{
        height: 12rem;
        margin-top: 1rem;
    }


}