*{
    margin: 0;
    padding: 0;
}

body{
    background: rgb(207, 224, 236);
    font-family: system-ui, -apple-system;
}

body::-webkit-scrollbar{
overflow: auto;
width: 10px;
cursor: pointer;
}

body::-webkit-scrollbar-thumb {
background-color: rgb(2, 116, 200); 
}

body::-webkit-scrollbar-track {
background-color: #fff; 
}

.headerContainer{
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subHeaderContainer{
    height: 4rem;
    width: 93%;
    border-radius: 1rem;
    backdrop-filter: blur(1rem);
    background-color: rgb(255,252,252);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}

.imageContainer{
    height: 100%;
    width: 12rem;
    display: flex;
    flex-direction: row;
}

.subImageContainer{
    height: 100%;
    width: 3rem;
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nameContainer{
    margin-left: 0.3rem;
}

.nameContainer img{
    width: 14rem;
    height: 2.5rem;
    display: none;
}

.profileContainer{
    height: 100%;
    width: 12rem;
    display: flex;
    flex-direction: row;
    justify-content: right;
    cursor: pointer;
}


.subProfileContainer{
    height: 100%;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerImg{
    border-radius: 5rem;
    width: 3rem;
    height: 3rem;
}

.profileContainer p{
    font-size: 1.3rem;
}

.menubarContainer{
    padding-top: 2px;
    width: 3.125rem;
    height: 3rem;
}

.line{
    border: solid 0.125rem;
    width: 1.563rem;
    margin-bottom: 0.313rem;
    margin-top: 0.5rem;
    margin-left: 0.563rem;
    border-color: black;
}

.hidden{
    display: none;
}

.change .line:nth-child(1) {
    transform: rotate(-45deg) translate(-9px, 0.625rem);
}

.change .line:nth-child(2) {
    opacity: 0;
}

.change .line:nth-child(3) {
    transform: rotate(45deg) translate(-0.438rem, -0.5rem);
}

.addToCartContainer, .notificationContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.addToCart, .notification, .menubarContainer{
    position: relative;
    cursor: pointer;
}

.sideNavBarContainer{
    height: 21em;
    width:  12.5rem;
    position: fixed;
    right: -12.5rem;
    top: 4.5rem;
    background-color: rgb(255,252,252);
    z-index: 1;
}

.sideNavBarContainer2{
    height: 15.6em;
    width:  12.5rem;
    position: fixed;
    right: -12.5rem;
    top: 4.5rem;
    background-color: rgb(255,252,252);
    z-index: 1;
}

.fadeIn{
    animation: sideIn 0.6s ease forwards
}

.sideNavBar, .sideNavBar3{
    height: 2.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.125rem;
    border: solid 1px rgb(189,189,189);
    cursor: pointer;
}

.sideNavBar1{
    height: 2.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.125rem;
    border: solid 1px rgb(189,189,189);
    cursor: pointer;
}

.sideNavBar2{
    height: 2.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.125rem;
    border: solid 1px rgb(189,189,189);
    cursor: pointer;
}

.sideNavBar:hover{
    background-color: rgb(189,189,189);
}

.sideNavBar1:hover{
    background-color: rgb(189,189,189);
}

.sideNavBar2:hover{
    background-color: rgb(189,189,189);
}

.profile, .status, .myOrder, .studentShop, .logOut{
    color: black;
    text-decoration: none;
}

.image{
    height: 3.7rem;
}

.companyName{
    display: none;
}

.adminName,
.userName{
    display: none;
}

.image2{
    display: none;
}

.container{
    height: 91vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchBarContainer{
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchBar{
    height: 3rem;
    width: 86%;
    border-radius: 1.5rem;
    border: solid gray 1px;
    padding-left: 1rem;
    font-size: 1.3rem;
    /* background-color: rgba(255, 250, 250, 0.582); */
    background-color: snow;
}

.filterContainer{
    height: 3rem;
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subFilterContainer{
    height: 100%;
    width: 93%;
    background-color: snow;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7);
}

.sortContainer{
    height: 100%;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.sort{
    height: 2rem;
}

.sort:hover{
    background-color: rgb(2, 116, 200);
    color: #fff;
}

.sort:active{
    background-color: rgb(3, 102, 172);
}

.filter{
    height: 100%;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #333;
}

.filter:hover{
    background-color: rgb(2, 116, 200);
    color: #fff;
}

.year{
    font-size: 1.05rem;
    font-weight: bold;
}

.med-icon{
    height: 2.5rem;
    width: 2.5rem;
    border: none;
    border-radius: 2rem;
    background-color: rgb(2, 116, 200);
    margin-left: auto;
    margin-right: 0.5rem;
    margin-top: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.med-icon h1{
    font-size: 3rem;
    font-family: fantasy;
    color: #fff;
}

.tableContainer{
    height: 100%;
    width: 100%;
    /* background-color: rgba(255, 250, 250, 0.582); */
    background-color: snow;
    overflow-x: auto;
    border: 1px solid #b8b8b8;

}

.tableContainer::-webkit-scrollbar{
    overflow: auto;
    width: 10px;
    height: 10px;
    cursor: pointer;
}

.tableContainer::-webkit-scrollbar-thumb {
    background-color: rgb(2, 116, 200); 
  }
  
.tableContainer::-webkit-scrollbar-track {
    background-color: #fff; 
  }

.actionContainer img:hover{
    transform: scale(1.2);
}


#tblBody{
    cursor: pointer;
}

#tblBody tr:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

th{
    background-color: rgb(2, 116, 200);
}
/*Cellphone*/
@media only screen and (max-width: 600px){
    table{
        border-collapse: collapse;
        display: flex;
        flex-direction: row;
    }

    th{
        background-color: rgb(2, 116, 200);
        color: rgb(239,239,239);
    }

    th, td{
        display: flex;
        flex-direction: column;
        border: solid #b8b8b8 0.1px;
        height: 2.5rem;
        padding: 0.5rem;
        justify-content: center;
        align-items: center;
        font-size: 0.7rem;
    }

    tbody{
        display: flex;
        flex-direction: row;
    }
}

@keyframes sideIn {
    from{

    } to{
        right: 8%;
    }
}

/*tablet*/
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .subHeaderContainer{
        width: 95%;
        display: flex;
        justify-content: space-between;
    }

    .companyName{
        display: block;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-size: 1.5rem;
    }

    .nameContainer img{
        justify-content: center;
        align-items: center;
        width: 12rem;
        font-size: 1.3rem;
        display: block;
    }

    .nameContainer{
        display: block;
        margin-top: 0.9rem;
    }

    .imageContainer{
        width: 18rem;
    }
    
    .subImageContainer{
        width: 4rem;
    }
    
    .sideNavBarContainer, .sideNavBarContainer2{
        border-radius: 0rem 0rem 1rem 1rem;
    }

    .image2{
        display: none;
    }
    
    .tableContainer{
        height: 100%;
        width: 100%;
        /* background-color: rgba(255, 250, 250, 0.582); */
        background-color: snow;
        overflow-x: auto;
    }

    table{
        border-collapse: collapse;
        text-align: center;
        width: 100%;
    }
    
    th{
        background-color: rgb(2, 116, 200);
        color: rgb(239,239,239);
    }
    
    th, td{
        border: solid #b8b8b8 0.1px;
        height: 2rem;
        padding: 0.5rem;
        justify-content: center;
        align-items: center;
        font-size: 0.9rem;
    }

    @keyframes sideIn {
        from{
    
        } to{
            right: 5%;
        }
    }
}

/*laptop*/
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
    .subHeaderContainer{
        width: 95%;
        display: flex;
        justify-content: space-between;
    }

    .adminName,
    .userName{
        display: block;
    }

    .menubarContainer{
        display: none;
    }

    .companyName{
        display: block;
        justify-content: center;
        align-items: center;
    }

    .nameContainer img{
        justify-content: center;
        align-items: center;
        width: 12rem;
        font-size: 1.3rem;
        display: block;
    }

    .nameContainer{
        display: block;
        margin-top: 0.9rem;
    }

    .adminName, 
    .userName{
        font-weight: bold;
        font-size: 1.5rem;
    }

    .profileContainer{
        padding-right: 1rem;
    }

    .imageContainer{
        width: 18rem;
    }

    .subImageContainer{
        width: 4rem;
    }

    .sideNavBarContainer{
        height: 25rem;
        position: absolute;
        left: -9.7rem;
        top: 15rem;
        border-radius: 0rem 1rem 1rem 0rem;
        transition: all 0.5s;
    }

    .sideNavBarContainer:hover{
        position: absolute;
        left: 0;
    }

    .sideNavBarContainer2{
        height: 18.75rem;
        position: absolute;
        left: -9.7rem;
        top: 18rem;
        border-radius: 0rem 1rem 1rem 0rem;
        transition: all 0.5s;
    }

    .sideNavBarContaine2:hover{
        position: absolute;
        left: 0;
    }

    .subSideNavBar{
        height: 100%;
        width: 10rem;
        display: flex;
        justify-content: right;
        align-items: center;
    }

    .image2{
        height: 100%;
        width: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image3{
        height: 100%;
        cursor: pointer;
    }

    .image4{
        height: 1.5rem;
        cursor: pointer;
    }

    .image5{
        position: absolute;
        height: 1.5rem;
        right: 0;
        top: 4.5rem;
    }

    .tableContainer{
        height: 100%;
        width: 100%;
        /* background-color: rgba(255, 250, 250, 0.582); */
        background-color: snow;
        overflow-x: auto;
    }

    .sideNavBar1{
        border-top-right-radius: 1rem;
        height: 3rem;
    }

    .sideNavBar2{
        border-bottom-right-radius: 1rem;
        height: 3rem;
    }

    .sideNavBar{
        height: 3rem;
    }

    table{
        border-collapse: collapse;
        text-align: center;
        width: 100%;
    }
    
    th{
        background-color: rgb(2, 116, 200);
        color: rgb(239,239,239);
    }
    
    th, td{
        border: solid #b8b8b8 0.1px;
        height: 2rem;
        padding: 0.5rem;
        justify-content: center;
        align-items: center;
        font-size: 1.05rem;
    }
}


/*pc*/
@media only screen and (min-width: 1441px){
    .subHeaderContainer{
        width: 97%;
        display: flex;
        justify-content: space-between;
    }

    .adminName,
    .userName{
        display: block;
        font-size: 1.8rem;
        font-weight: bold;
    }

    .menubarContainer{
        display: none;
    }

    .companyName{
        display: block;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        font-weight: bold;
        width: 20rem;
    }

    .nameContainer img{
        justify-content: center;
        align-items: center;
        width: 12rem;
        font-size: 1.3rem;
        display: block;
    }

    .nameContainer{
        display: block;
        margin-top: 0.9rem;
    }

    .imageContainer{
        width: 20rem;
    }

    .subImageContainer{
        width: 4rem;
    }

    .sideNavBarContainer{
        height: 25rem;
        position: absolute;
        left: -9.7rem;
        top: 15rem;
        border-radius: 0rem 1rem 1rem 0rem;
        transition: all 0.5s;
    }

    .sideNavBar{
        font-weight: bold;
        font-size: 1.125rem;
    }

    .sideNavBarContainer:hover{
        position: absolute;
        left: 0;
    }

    .sideNavBarContainer2{
        height: 18.7rem;
        position: absolute;
        left: -9.7rem;
        top: 20rem;
        border-radius: 0rem 1rem 1rem 0rem;
        transition: all 0.5s;
    }

    .sideNavBarContainer2:hover{
        position: absolute;
        left: 0;
    }
    

    .subSideNavBar{
        height: 100%;
        width: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image2{
        height: 100%;
        width: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image3{
        height: 100%;
        cursor: pointer;
    }

    .image4{
        height: 1.5rem;
        cursor: pointer;
    }

    .image5{
        position: absolute;
        height: 1.5rem;
        right: 0;
        top: 4.5rem;
    }

    .profileContainer{
        padding-right: 1.5rem;
    }

    .tableContainer{
        height: 100%;
        width: 100%;
        /* background-color: rgba(255, 250, 250, 0.582); */
        background-color: snow;
        overflow-x: auto;
    }

    .sideNavBar1{
        border-top-right-radius: 1rem;
        height: 3rem;
    }

    .sideNavBar2{
        border-bottom-right-radius: 1rem;
        height: 3rem;
    }

    .sideNavBar{
        height: 3rem;
    }

    table{
        border-collapse: collapse;
        text-align: center;
        width: 100%;
    }
    
    th{
        background-color: rgb(2, 116, 200);
        color: rgb(239,239,239);
    }
    
    th, td{
        border: solid #b8b8b8 0.1px;
        height: 2rem;
        padding: 0.5rem;
        justify-content: center;
        align-items: center;
        font-size: 1.05rem;
    }
}

@media print {
    body * {
        visibility: hidden;
    }
    .tableContainer * {
        visibility: visible;
    }
    .tableContainer {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        border: none;
    }
    
    table{
        border-collapse: collapse;
        text-align: center;
        width: 100%;
    }
    
    td{
        color: #888;
    }
    
    th, td{
        border: solid #b8b8b8 0.1px;
        height: 1.5rem;
        padding: 0.5rem;
        justify-content: center;
        align-items: center;
        font-size: 0.8rem;
    }
  
}

/* *Copyright © 2024 WebCraft - All Rights Reserved*
        *Administartive Office Facility Reservation and Management System*
        *IT 132 - Software Engineering *
        *(WebCraft) Members:
            Falcatan, Khriz Marr
            Gabotero, Rogie
            Taborada, John Mark
            Tingkasan, Padwa 
            Villares, Arp-J* */