.modal{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.144); 
    z-index: 999; 
}

.backContainer1{
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrowDown1{
    height: 2rem;
    cursor: pointer;
    border-radius: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subInfoContainer2{
    height: 6rem;
}

.infoContainer3{
    height: 27rem;
    width: 100%;
}

.inputInfo3{
    height: 2.5rem;
    width: 90%;
    background-color: white;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1.2rem;
}

.addButtonContainer{
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addButton{
    height: 2.5rem;
    width: 12rem;
    border-radius: 0.5rem;
    border: none;
    background-color: rgb(2, 116, 200);
    color: white;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
}

.addButton:hover{
    background-color: rgb(2, 84, 143);
    color: white;
}

.addButton:active{
    background-color: rgb(2, 116, 200);
    transform: scale(0.9);
    color: white;
}

.subContainer7{
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
    background-color: #fff;
    margin-top: -2rem;
}

.textContainer3{
    height: 4rem;
    border-radius: 0.5rem 0.5rem 0 0;
    background-color: rgb(2, 116, 200);
}

.subContainer6{
    height: 100%;
}

.uploadImageContainer3{
    height: 20rem;
    gap: 1rem;
}

.subUploadImageContainer2{
    height: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageContainer4{
    height: 13rem;
    width: 13rem;
    border-radius: 0.5rem;
    background-color: #fff;
    border: 1px solid rgb(2, 116, 200);
}

.image4{
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
}

.uploadButtonContainer6{
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.uploadButton6{
    height: 2rem;
    width: auto;
    padding: 0rem 1rem;
    border-radius: 0.5rem;
    border: none;
    background-color: rgb(2, 116, 200);
    color: white;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.15s;
}

.uploadButton6:hover{
    background-color: rgb(2, 84, 143);
}

.uploadButton6:active{
    background-color: rgb(2, 116, 200);
    transform: scale(0.9);
}

.uploadIcon6{
    height: 1rem;
    margin-right: 0.5rem;
    filter: invert(100%);
}

.inputInfoContainer5{
    height: 6rem;
    width: 100%;
}

.subInputInfoContainer5, .subInputInfoContainer4{
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.inputInfo4{
    height: 2.5rem;
    width: 90%;
    background-color: white;
    border: solid gray 1px;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1.2rem;
    padding-left: 0.5rem;
    color: rgb(2, 116, 200);
}

.descriptionContainer2{
    height: 10rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description1{
    height: 9rem;
    width: 90%;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 0.5rem;
    border: solid gray 1px;
}

.subContainer5{
    height: 100%;
}

.textContainer2{
    width: 25rem;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
}

/* instruction */

#container {
    width: 90%;
    margin: 0 auto;
    border-radius: 0.25rem;
    position: relative;
    overflow: auto;
  }
  
  .container-bg {
    background-color: #f9f9f9;
  }
  
  .step {
    display: flex;
    align-items: center;
    margin-bottom: 0.625rem;
    overflow: auto;
  }
  
  .step-label {
    font-weight: bold;
    margin-bottom: 1rem;
    position: fixed;
    font-size: 1.2rem;
    font-weight: 500;
  }
  
  .step-input {
    flex: 1;
    padding: 1.3rem;
    border: 0.0625rem solid #ccc;
    border-radius: 0.25rem;
    margin-top: 0.3125rem;
  }

  #hidden{
    color: #f9f9f9;
    background-color: transparent;
  }
  
  .add-step {
    flex-shrink: 0;
    padding: 0.3125rem;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    z-index: 1;
  }
  
  .add-step:hover {
    background-color: #e0e0e0;
  }
  
  .delete-step {
    background-color: #f0f0f0;
    padding: 0.3125rem;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    cursor: pointer;
    margin-left: 0.3125rem;
  }
  
  .delete-step:hover {
    background-color: #e0e0e0;
  }
  
  .fa-plus,
  .fa-trash {
    color: #555;
  }
  
  .fa-plus:hover,
  .fa-trash:hover {
    color: #333;
  }
  
  /* Responsive styles */
  
  @media (max-width: 480px) {
    #container {
      max-width: 100%;
      padding: 1.25rem;
    }
  
    .step {
      flex-wrap: wrap;
    }
  
    .step-input {
      flex: 1 1 100%;
      margin-top: 0.625rem;
    }
  
    .add-step,
    .delete-step {
      margin-left: 0;
      margin-top: 0.625rem;
    }
  }

/*laptop*/
@media only screen and (min-width: 1025px) and (max-width: 1440px){
    .subContainer7{
        width: 60rem;
    }
}

/*pc*/
@media only screen and (min-width: 1441px){
    .subContainer7{
        width: 70rem;
    }
}