.subContainer1{
    height: auto;
    padding-bottom: 2rem;
}
.subContainer2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.subContainer3{
    /* outline: 1px red solid; */
    height: 90%;
    width: 100%;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
    background-color: snow;
    display: flex;
    flex-direction: column;
    padding-bottom: 1.5rem;
    margin-top: 0.5rem;
}

.equipImageContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    outline: 1px red solid;
}

.subInfoContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    outline: 1px red solid;
}

.imageContainer1{
    height: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    /* outline: 1px red solid; */
    padding-top: 1rem;
}

.subImageContainer1{
    height: 11rem;
    width: 11rem;
    border-radius: 0.5rem;
    background-color: #fff;
    border: 1px solid rgb(2, 116, 200);
}

.equipNameContainer{
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: uppercase;
}

.infoContainer1{
    margin: 1rem 0;
    flex-direction: column;
}

.subInfoContainer1{
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    margin-top: 1.3rem;
    margin-bottom: 1rem;
}

.textContainer{
    height: 3rem;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.subTextContainer{
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
    border: solid gray 1px;
    background-color: #fff;
    display: flex;
    align-items: center;
    overflow-x: auto;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 600;
}

.userHandler {
    display: flex;
    margin-right: 1rem; 
    padding: 0.2rem 0.5rem;
    background-color: rgb(207, 224, 236);
    border-radius: 0.2rem;
}

input .subTextContainer1{
    font-weight: 100;
}

.textContainer1{
    width: 80%;
    height: 10rem;
    /* outline: 1px red solid; */
    margin: auto;
}

.subTextContainer1{
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
    border: solid gray 1px;
    background-color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    overflow: auto;
}

.subTextContainer1 p,
.subTextContainer input{
    padding: 1rem 0 0 1rem;
    display: flex;
    align-items: flex-start;
}

/* form */

.buttonContainer{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* outline: 1px red solid; */
}

.button{
    height: 4rem;
    width: 100%;
    border-radius: 0.5rem;
    border: none;
    background-color: rgb(2, 116, 200);
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.15s;
}

.button:hover{
    background-color: rgb(2, 84, 143);
}

.button:active{
    background-color: rgb(2, 116, 200);
    transform: scale(0.9);
}

.unitContainer {
    min-width: 35rem;
    margin-top: 1rem;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
    height: auto; 
    overflow: auto;
    display: flex;
}

.subUnitContainer {
    height: auto; 
    display: flex;
    flex-direction: column;
}

.unitAndCheckboxContainer {
    display: flex;
    align-items: center; 
    justify-content: center;
    min-width: auto;
}

.checkBoxContainer{
    height: 100%;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
}

.checkbox{
    height: 1.5rem;
    width: 1.5rem;
}

.unitNameContainer{
    height: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 0.5rem;
}

.unitNameContainer1{
    height: 2rem;
    width: 100%;
    max-width: 20rem;
    margin-left: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 0.5rem;
}

.unitNameContainer h3{
    color: #000;
    text-transform: uppercase;
    flex-direction: column;
    width: 8rem;
    text-align: center;
}

h3{
    color: #000;
}

.equipContainer{
    height: 4rem;
    width: 19.5rem;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.issue{
    width: 15rem;
    height: 2.5rem;
    border-radius: 0.2rem;
    font-size: 1.2rem;
    padding: 0.5rem 0.5rem;
}

.selectbtnContainer{
    height: 3rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 2rem 2rem 2rem 0;
    outline: 1px solid red;
}

.button1{
    height: 2.5rem;
    width: 6rem;
    border-radius: 0.5rem;
    background-color: rgb(2, 116, 200);
    border: solid white 1px;
    color: white;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.15s;
    /* outline: 1px solid red; */
}

/* selected units */
#selectedUnit{
    outline: 1px red solid;
}
.unitContainer1{
    width: 28rem;
    background-color: snow;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}

.headerContainer2{
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem 0.5rem 0 0;
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(2, 116, 200);
    border-bottom: 1px solid gray;
}

.unitInfoContainer {
    margin-bottom: 1rem; 
    min-height: fit-content;
}

.selectedContainer{
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
    outline: 1px solid red;
}

.button2{
    height: 2.5rem;
    width: 6rem;
    border-radius: 0.5rem;
    border: solid white 1px;
    background-color: transparent;
    color: rgb(2, 116, 200);
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.15s;
}

/*laptop*/
@media only screen and (min-width: 1025px){
    .subContainer1{
        width: 80%;
    }
    .subContainer2{
        display: flex;
        gap: 5rem;
        flex-direction: row;
        align-items: start;
    }

    .subContainer3{
        width: 45%;
        margin-right: auto;
    }

    .buttonContainer{
        width: 45%;
    }

    .button{
        width: 75%;
    }
}