
.userContainer3{
    display: none;
}

.userContainer4{
    padding-bottom: 0.5rem;
    margin-top: 1rem;
}

.imageContainer4{
    /* outline: red dashed 1px; */
    width: 5rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subImageContainer4{
    /* outline: red dashed 1px; */
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 5rem;
    border: 2px solid #000;
}

.image4{
    height: 100%;
    width: 100%;
    border-radius: 5rem;
}

.userNameContainer{
    /* outline: red dashed 1px; */
    width: 10rem;
    height: 100%;
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-left: 1.5rem;
}

.subUserContainer1{
    display: flex;
    flex-direction: row;
    height: 100%;
    /* outline: red dashed 1px; */
}

.viewButtonContainer{
    /* outline: red dashed 1px; */
    width: 5rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 1rem;
}

.viewButton{
    height: 2.5rem;
    border: none;
    background-color:rgb(2, 116, 200);
    border-radius: 0.5rem;
    color: snow;
    cursor: pointer;
    transition: all 0.15s;
}

.viewButton:hover{
    background-color: transparent;
    border: solid rgb(2, 116, 200) 1px;
    color: rgb(2, 116, 200);
}

.viewButton:active{
    background-color: rgb(2, 116, 200);
    color: snow;
}

.subAddUserContainer{
    height: 100%;
    width: 80%;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 1.5rem;
    margin: auto;
}

/* .addUserContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.144); 
    z-index: 999; 
} */

.userInfoContainer{
    /* outline: red dashed 1px; */
    height: 6rem;
}

.textContainer{
    /* outline: red dashed 1px; */
    height: 2rem;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    font-size: 1.2rem;
}

.textContainer span{
    color: red;
    font-size: 1.3rem;
}

.textContainer .mi{
    color: #8b8b8b;
}

.inputNameContainer{
    /* outline: red dashed 1px; */
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputName{
    height: 3rem;
    width: 90%;
    padding-left: 0.5rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    border: solid gray 1px;
}

.infoContainer2{
    height: 100%;
}

.buttonContainer4{
    /* outline: red dashed 1px; */
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
}

button{
    font-size: 1rem;
    cursor: pointer;
}

#saveButton{
    width: auto;
    padding: 0 1.6rem;
}

/* password */
.passwordHint{
    height: auto;
    margin-bottom: 1rem;
}

.passwordHint1{
    height: auto;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    text-align: start;
}

.passwordHint1 h3{
    margin-bottom: 0.5rem;
}

.userListContainer{
    height: auto;
    margin-bottom: 1rem;
}

.subUserListContainer{
    padding-bottom: 1rem;
}

/*tablet*/
@media only screen and (min-width: 601px) {
    .viewButtonContainer{
        width: 8rem;
    }

    .viewButton{
        width: 7rem;
    }

    .userNameContainer{
        width: 15rem;
        font-size: 1.2rem;
    }
}

/*laptop*/
@media only screen and (min-width: 1025px){
    .userListContainer{ 
        height: 43rem;
    }

    .subUserListContainer{
        display: flex;
        align-items: start;
        justify-content: space-between;
        overflow: hidden;
        flex-direction: row;
        height: 99%;
        padding-bottom: 0;
    }

    .userContainer3{
        width: 50%;
        height: 97%;
        margin-left: 2.5rem;
        overflow-y: auto;
        background-color: #fff;
        border: 1px solid #ccc;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }

    .subAddUserContainer{
        width: 40%;
        height: 97%;
        margin-right: 2.5rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        gap: 0.5rem;
        padding: 0;
        margin-bottom: 1.2rem;
    }

    .infoContainer2{
        overflow-y: auto;
        height: 88%;
        width: 90%;
        padding-top: 1rem;
    }

    .infoContainer2::-webkit-scrollbar,
    .userContainer3::-webkit-scrollbar{
        width: 7px;
        cursor: pointer;
    }
    
    .infoContainer2::-webkit-scrollbar-thumb,
    .userContainer3::-webkit-scrollbar-thumb {
        background-color: rgb(2, 116, 200); 
      }
      
    .infoContainer2::-webkit-scrollbar-track,
    .userContainer3::-webkit-scrollbar-track {
        background-color: #fff; 
      }

    .buttonContainer4{
        display: flex;
        align-items: center;
        justify-content: right;
        width: 90%;
        border-top: 1px solid #ccc;
    }
}

/* *Copyright © 2024 WebCraft - All Rights Reserved*
        *Administartive Office Facility Reservation and Management System*
        *IT 132 - Software Engineering *
        *(WebCraft) Members:
            Falcatan, Khriz Marr
            Gabotero, Rogie
            Taborada, John Mark
            Tingkasan, Padwa 
            Villares, Arp-J* */