
.userListContainer{
    /* outline: red dashed 1px; */
    height: 83.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subUserListContainer{
    height: 90%;
    width: 100%;
    /* outline: red dashed 1px; */
    border-radius: 0.5rem;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: snow;
    border: 1px solid gray;
    align-items: center;
    padding-top: 1rem;
}

.userContainer4{
    /* outline: red dashed 1px; */
    height: 5rem;
    width: 95%;
    border: solid gray 1px;
    background-color: rgb(240, 240, 240);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: auto;
    padding-left: 1rem;
}

.imageContainer4{
    /* outline: red dashed 1px; */
    width: 5rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subImageContainer4{
    /* outline: red dashed 1px; */
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 5rem;
    border: 2px solid #000;
}

.image4{
    height: 100%;
    width: 100%;
    border-radius: 5rem;
}

.userNameContainer{
    /* outline: red dashed 1px; */
    width: 10rem;
    height: 100%;
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-left: 1.5rem;
}

.subUserContainer1{
    display: flex;
    flex-direction: row;
    height: 100%;
    /* outline: red dashed 1px; */
}

.viewButtonContainer{
    /* outline: red dashed 1px; */
    width: 5rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 1rem;
}

.viewButton{
    height: 2.5rem;
    border: none;
    background-color:rgb(2, 116, 200);
    border-radius: 0.5rem;
    color: snow;
    cursor: pointer;
    transition: all 0.15s;
}

.viewButton:hover{
    background-color: transparent;
    border: solid rgb(2, 116, 200) 1px;
    color: rgb(2, 116, 200);
}

.viewButton:active{
    background-color: rgb(2, 116, 200);
    color: snow;
}

.addUserContainer{
    /* outline: red dashed 1px; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.144); 
    z-index: 999; 
}

.subAddUserContainer{
    /* outline: red dashed 1px; */
    height: 40rem;
    width: 90%;
    border-radius: 0.5rem;
    background-color: snow;
}

.userInfoContainer{
    /* outline: red dashed 1px; */
    height: 6rem;
}

.textContainer{
    /* outline: red dashed 1px; */
    height: 2rem;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    font-size: 1.2rem;
}

.textContainer span{
    color: red;
    font-size: 1.3rem;
}

.textContainer .mi{
    color: #8b8b8b;
}

.inputNameContainer{
    /* outline: red dashed 1px; */
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputName{
    height: 3rem;
    width: 90%;
    padding-left: 0.5rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    border: solid gray 1px;
}

.infoContainer2{
    overflow: auto;
    height: 32rem;
    /* outline: red dashed 1px; */
}

.buttonContainer4{
    /* outline: red dashed 1px; */
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 1rem;
    flex-direction: row;
    gap: 1rem;
}

button{
    font-size: 1rem;
    cursor: pointer;
}

#saveButton{
    width: auto;
    padding: 0 1.6rem;
}

/* password */
#password-strength {
    margin-top: 0.1rem;
}

.weak,
.average,
.strong{
    font-size: 1.2rem;
    font-weight: 600;
    margin-left: auto;
    margin-right: 3rem;
}
.weak {
    color: red;
}
.average {
    color: rgb(2, 116, 200);
}
.strong {
    color: green;
}

/*tablet*/
@media only screen and (min-width: 601px) {
    .viewButtonContainer{
        width: 8rem;
    }

    .viewButton{
        width: 7rem;
    }

    .userNameContainer{
        width: 15rem;
        font-size: 1.2rem;
    }

    .subAddUserContainer{
        width: 30rem;
    }
}

/*laptop*/
@media only screen and (min-width: 1025px){
    .filterContainer1{
        /* padding: 0 3.5rem; */
    }
}