.subContainer1{
    background-color: transparent;
}

.subContainer{
    /* outline: red dashed 1px; */
    margin-top: 1rem;
    height: 85%;
    width: 97.5%;
    padding: 1rem;
    background-color: snow;
    border-radius: 0.3rem;
    column-gap: 1rem;
    row-gap: 1rem;
    border: solid rgb(182, 182, 182) 1px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: auto;
    border: 1px solid #ccc;
}

.trackButton1{
    width: auto;
    padding: 0 1rem;
}

.equipContainer{
    display: flex;
    justify-content: center;
    padding: 0.5rem;
}

.subEquipContainer{
    height: 11rem;
    width: 22.5rem;
    border-radius: 0.5rem;
    border: solid gray 1.5px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    /* outline: red dashed 1px; */
    gap: 1rem;
}



.equipContainer{
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    width: 24rem;
}

.subEquipContainer{
    height: 11rem;
    width: 100%;
    border-radius: 0.5rem;
    border: solid gray 1px;
    display: flex;
    flex-direction: row;
}

.unitImgContainer{
    height: 10rem;
    width: 8rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid rgb(2, 116, 200);
}

.image1{
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
}

.unit-container{
    height: 100%;
    width: 12.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.subUnitContainer{
    height: 2rem;
    width: 100%;
    display: flex;
    justify-content: right;
}

.statusContainer1{
    height: 100%;
    width: 5rem;
    margin-right: 0.5rem;
    border-radius: 0.5rem;
    background-color: rgb(2, 116, 200);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.status1{
    margin: 0;
    font-weight: bold;
}

.subUnitContainer1{
    height: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
}

.statusContainer2{
    height: 100%;
    width: 5rem;
    margin-right: 0.5rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.historyButton{
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.15s;
    color: rgb(2, 116, 200);
    font-size: 0.9rem;
}

.historyButton:hover{
    background-color: rgb(2, 116, 200);
    color: white;
    border-radius: 0.5rem;
}

.historyButton:active{
    background-color: rgb(2, 150, 255);
}

.text{
    margin-left: 0.5rem;
}

.text1{
    margin-left: 0.5rem;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.container3{
    background-color: rgba(0, 0, 0, 0.178);
    height: 100vh;
    width: 100%;
    position: absolute;
    top: -5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container4{
    background-color: rgba(0, 0, 0, 0.178);
    height: 61rem;
    width: 100%;
    position: absolute;
    top: -5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subContainer3{
    height: 25rem;
    width: 20rem;
    border-radius: 0.5rem;
    background-color: #fff;
}

.equipmentNameContainer{
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: rgb(2, 116, 200);
    color: #fff;
    border-radius: 0.5rem 0.5rem 0 0;
}

.issueContainer{
    height: 17rem;
    overflow: auto;
}

.subIssueContainer{
    height: 4rem;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    font-size: 1.2rem;
}

.cancelContainer{
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: right;
}

.subCancelContainer{
    height: 100%;
    width: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cancelButton{
    height: 2.5rem;
    width: 6rem;
    border-radius: 0.5rem;
    border: none;
    color: white;
    font-size: 1.1rem;
    background-color: rgb(2, 116, 200);
    cursor: pointer;
    transition: all 0.15s;
}

.cancelButton:hover{
    background-color: rgb(2, 84, 143);
}

.cancelButton:active{
    background-color: rgb(2, 116, 200);
}

.nextContainer{
    height: 3rem;
    width: 90%;
    position: absolute;
    bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: right;
}

.subNextContainer{
    height: 100%;
    width: 15rem;
    display: flex;
    flex-direction: row;
}

.previusContainer{
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.previousButton{
    height: 2rem;
    width: 5rem;
    border-radius: 0.5rem;
    border: none;
    background-color: rgb(2, 116, 200);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.15s;
}

.previousButton:hover{
    background-color: rgb(2, 84, 143);
}

.previousButton:active{
    background-color: rgb(2, 116, 200);
}

.arrowIcon{
    height: 1rem;
    filter: invert(100%);
}

.number{
    height: 2rem;
    width: 2rem;
    border-radius: 0.5rem;
    background-color: rgb(2, 116, 200);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* history */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.modal-content {
    background-color: #fefefe;
    margin: 3% auto;
    padding: 0.5rem 1rem;
    border: 1px solid #888;
    width: 20%;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

h3{
   
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border-bottom: 1px solid gray;
    color: rgb(2, 116, 200);
    font-weight: 600;
    font-size: 1.5rem;
}

.reportform{
    /* outline: 1px red solid; */
}

.unitIssue{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding-top: 1rem;
    width: 90%;
}

.unitIssue p{
    border: 1px solid gray;
    padding: 0.5rem;
    width: 50%;
}

label, 
select{
    margin: 0.7rem auto;
}