<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../../assets/css/index.css">
    <link rel="stylesheet" href="../../assets/css/bin.css">
</head>
<body>
    <div class="container3">
        <div class="sideBarContainer6"  style="z-index: 1;">
            <div class="userContainer">
                <div class="subUserContainer">
                    <div class="userPictureContainer">
                        <div class="subUserPictureContainer">
                            <img class="profilePicture" src="" alt="">
                        </div>
                    </div>

                    <div class="userPictureContainer1">
                        <p>@UserName</p>
                    </div>
                </div>

                <div class="navContainer">
                    <div class="subNavContainer">
                        <a href="">
                            <div class="buttonContainer1">
                                <div class="iconContainer9">
                                    <img class="icon" src="../../assets/img/barGraph.png" alt="">
                                </div>

                                <div class="nameOfIconContainer">
                                    <p>Dashboard</p>
                                </div>
                            </div>
                        </a>

                        <a href="">
                            <div class="buttonContainer1">
                                <div class="iconContainer9">
                                    <img class="icon" src="../../assets/img/barGraph.png" alt="">
                                </div>

                                <div class="nameOfIconContainer">
                                    <p>Inventory</p>
                                </div>
                            </div>
                        </a>

                        <a href="">
                            <div class="buttonContainer1">
                                <div class="iconContainer9">
                                    <img class="icon" src="../../assets/img/barGraph.png" alt="">
                                </div>

                                <div class="nameOfIconContainer">
                                    <p>Report</p>
                                </div>
                            </div>
                        </a>

                        <a href="">
                            <div class="buttonContainer1">
                                <div class="iconContainer9">
                                    <img class="icon" src="../../assets/img/barGraph.png" alt="">
                                </div>

                                <div class="nameOfIconContainer">
                                    <p>User list</p>
                                </div>
                            </div>
                        </a>

                        <a href="">
                            <div class="buttonContainer1">
                                <div class="iconContainer9">
                                    <img class="icon" src="../../assets/img/barGraph.png" alt="">
                                </div>

                                <div class="nameOfIconContainer">
                                    <p>Help</p>
                                </div>
                            </div>
                        </a>

                        <a href="">
                            <div class="buttonContainer1">
                                <div class="iconContainer9">
                                    <img class="icon" src="../../assets/img/barGraph.png" alt="">
                                </div>

                                <div class="nameOfIconContainer">
                                    <p>About</p>
                                </div>
                            </div>
                        </a>

                            <div onclick="setting1()" class="buttonContainer1" style="height: 3rem; cursor: pointer;">
                                <div class="iconContainer9">
                                    <img class="icon" src="../../assets/img/barGraph.png" alt="">
                                </div>

                                <div class="nameOfIconContainer">
                                    <p>setting</p>
                                </div>
                            </div>

                        <div class="settingContainer" style="display: none;">
                            <a href="">
                                <div class="buttonContainer1">
                                    <div class="nameOfIconContainer">
                                        <p>My profile</p>
                                    </div>
                                </div>
                            </a>

                            <a href="">
                                <div class="buttonContainer1">
                                    <div class="nameOfIconContainer">
                                        <p>Change Password</p>
                                    </div>
                                </div>
                            </a>

                            <a href="">
                                <div class="buttonContainer1">
                                    <div class="nameOfIconContainer">
                                        <p>Bin</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="subUserContainer">
                    <div class="userPictureContainer">
                        <div class="subUserPictureContainer">
                            <img class="profilePicture" src="" alt="">
                        </div>
                    </div>

                    <div class="userPictureContainer1">
                        <p>Logout</p>
                    </div>
                </div>
            </div>

            <div class="arrowContainer">
                <div class="subArrowContainer">
                    <img class="hideIcon" src="../../assets/img/chevron-left (1).png" alt="">
                </div>
            </div>
        </div>

        <div class="sideBarContainer3">
            <div class="headerContainer1">
                <div class="iconContainer10">
                    <div class="subIconContainer10">
                        <img class="subIconContainer10" src="" alt="">
                    </div>
                </div>

                <div class="subHeaderContainer1">
                    <div class="logoNameContainer1">
                        <img class="systemName" src="../../assets/img/system-name.png" alt="">
                    </div>
                    <div class="subImageContainer3">
                        <img class="image11" src="../../assets/img/medLogo.png" alt="">
                    </div>
                </div>
            </div>

            <div class="subContainer1">
                <div class="filterContainer1">
                    <div class="inventoryNameContainer">
                        <p>Inventory</p>
                    </div>

                    <div class="subFilterContainer1">
                        <div class="searchContainer1">
                            <input class="searchBar1" type="text" name="" id="">
                        </div>

                        <div class="trackContainer">
                            <div class="trackButton">
                                <button onclick="track()" class="trackButton">Unit Replacement Form</button>
                                <div class="subTrackContainer" style="display: none;">
                                    <div class="searhUnitContainer">
                                        <p>Enter Unit ID:</p>
                                    </div>

                                    <div class="searchUnitContainer">
                                        <button onclick="track2()" class="searchBar1">Select unit:</button>
                                    </div>

                                    <div class="unitsContainer">
                                        <div class="subUnitsContainer" style="display: none;">
                                            <div onclick="track3()" class="units">
                                                <p>UNIT-0001</p>
                                            </div>

                                            <div onclick="track3()" class="units">
                                                <p>UNIT-0002</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="trackButton1">New  Property <span class="plusIcon">+</span></button>

                        </div>
                    </div>
                </div>

                <div class="tableContainer2">
                    <div class="unitContainer">
                        <div class="unitList">
                            <p>Unit list</p>
                        </div>
                    </div>

                    <div class="tableContainer">
                        <table>
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>ARTICLE</th>
                                    <th>PROPERTY NUMBER</th>
                                    <th>ACCOUNT CODE</th>
                                    <th>UNITS</th>
                                    <th>UNIT VALUE</th>
                                    <th>TOTAL VALUE</th>
                                    <th>REMARKS</th>
                                    <th>VIEW</th>
                                </tr>
                            </thead>
        
                            <tbody id="tblBody">
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <button onclick="track4()" class="viewButton6">View</button>
                                        <button class="viewButton6">Restore</button>
                                    </td>  
                                </tr>
                            </tbody>
                        </table>
                   </div>
                </div>
            </div>  

            <div class="viewUnitContainer" style="display: none;">
                <div class="viewUnitContainer">
                    <div class="subViewUnitContainer">
                        <div class="unitTextContainer">
                            <p>UNIT REPLACEMENT FORM</p>
                        </div>

                        <div class="equipImageContainer">
                            <div class="subEquipImageContainer">
                                <img class="subEquipImageContainer" src="" alt="">
                            </div>
                        </div>

                        <div class="unitInfoContainer">
                            <div class="subUnitInfoContainer">
                                <div class="unitIdContainer">
                                    <div class="subUnitIdContainer">
                                        <p>Unit id:</p>
                                    </div>

                                    <div class="displayUnitID">
                                        <p>UNIT-0001</p>
                                    </div>
                                </div>

                                <div class="unitIdContainer">
                                    <div class="subUnitIdContainer">
                                        <p>Unit id:</p>
                                    </div>

                                    <div class="displayUnitID">
                                        <p>ICS-22-F102</p>
                                    </div>
                                </div>

                                <div class="unitIdContainer">
                                    <div class="subUnitIdContainer">
                                        <p>Unit id:</p>
                                    </div>

                                    <div class="displayUnitID">
                                        <p>123-2323-324834</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="unitInfoContainer">
                            <div class="subUnitInfoContainer">
                                <div class="unitIdContainer">
                                    <div class="subUnitIdContainer">
                                        <p>Unit cost:</p>
                                    </div>

                                    <div class="displayUnitID">
                                        <p>UNIT-0001</p>
                                    </div>
                                </div>

                                <div class="unitIdContainer">
                                    <div class="subUnitIdContainer">
                                        <p>Datre replacement:</p>
                                    </div>

                                    <div class="displayUnitID">
                                        <p>ICS-22-F102</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="unitInfoContainer">
                            <div class="subUnitInfoContainer">
                                <div class="unitIdContainer">
                                    <div class="subUnitIdContainer">
                                        <p>First name:</p>
                                    </div>

                                    <div class="displayUnitID">
                                        <p>UNIT-0001</p>
                                    </div>
                                </div>

                                <div class="unitIdContainer">
                                    <div class="subUnitIdContainer">
                                        <p>Last name:</p>
                                    </div>

                                    <div class="displayUnitID">
                                        <p>ICS-22-F102</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="buttonContainer2">
                            <div onclick="track3()" class="button3">
                                <p>Cancel</p>
                            </div>

                            <div onclick="track3()" class="button4" onclick="track1()">
                                <p>Submit</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="viewApproveContainer" style="display: none;">
                <div class="viewApproveContainer">
                    <div class="subViewApproveContainer">
                        <div class="viewInfoContainer">
                            <div class="imageContainer4">
                                <div class="subImageContainer5">
                                    <img class="subImageContainer5" src="" alt="">
                                </div>

                                <div class="equipNameContainer">
                                    <p>Laptop</p>
                                </div>
                            </div>

                            <div class="approveInfoContainer">
                                <div class="subApproveInfoContainer">
                                    <div class="approveContainer">
                                        <div class="labelContainer1">
                                            <p>User:</p>
                                        </div>

                                        <div class="container4">
                                            <p class="text1">Khriz marr L. Falcatan</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="subApproveInfoContainer">
                                    <div class="approveContainer">
                                        <div class="labelContainer1">
                                            <p>Deployment:</p>
                                        </div>

                                        <div class="container4">
                                            <p class="text1">Khriz marr L. Falcatan</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="subApproveInfoContainer1">
                                    <div class="approveContainer">
                                        <div class="labelContainer1">
                                            <p>Property number:</p>
                                        </div>

                                        <div class="container4">
                                            <p class="text1">Khriz marr L. Falcatan</p>
                                        </div>
                                    </div>

                                    <div class="approveContainer">
                                        <div class="labelContainer1">
                                            <p>Account code:</p>
                                        </div>

                                        <div class="container4">
                                            <p class="text1">Khriz marr L. Falcatan</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="descriptionContainer">
                            <div class="approveContainer1">
                                <div class="labelContainer1">
                                    <p>Account code:</p>
                                </div>

                                <div class="container5">
                                    <p class="text1">Khriz marr L. Falcatan</p>
                                </div>
                            </div>
                        </div>

                        <div class="unitContainer6">
                            <div class="subApproveInfoContainer1">
                                <div class="approveContainer">
                                    <div class="labelContainer1">
                                        <p>Unit ID:</p>
                                    </div>

                                    <div class="container4">
                                        <p class="text1">Khriz marr L. Falcatan</p>
                                    </div>
                                </div>

                                <div class="approveContainer">
                                    <div class="labelContainer1">
                                        <p>Issue:</p>
                                    </div>

                                    <div class="container4">
                                        <p class="text1">Khriz marr L. Falcatan</p>
                                    </div>
                                </div>

                                <div class="approveContainer">
                                    <div class="labelContainer1">
                                        <p>Problem description:</p>
                                    </div>

                                    <div class="container4">
                                        <p class="text1">Khriz marr L. Falcatan</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="buttonContainer2">
                            <div onclick="track4()" class="button3">
                                <p>Cancel</p>
                            </div>

                            <div onclick="track4()" class="button4" onclick="track1()">
                                <p>Restore</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../../assets/js/inventory.js"></script>
    <script src="../../assets/js/sidebar.js"></script>
</body>
</html>