<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../../assets/css/index.css">
    <link rel="stylesheet" href="../../assets/css/inventory.css">
    <link rel="stylesheet" href="../../assets/css/UserProfile.css">
    <link rel="stylesheet" href="../../assets/css/myProfile.css">
</head>
<body>
    <div class="container3">
        <div class="sideBarContainer6">
            <div class="userContainer">
                <div class="subUserContainer">
                    <div class="userPictureContainer">
                        <div class="subUserPictureContainer">
                            <img class="profilePicture" src="" alt="">
                        </div>
                    </div>

                    <div class="userPictureContainer1">
                        <p>@UserName</p>
                    </div>
                </div>

                <div class="navContainer">
                    <div class="subNavContainer">
                        <a href="">
                            <div class="buttonContainer1">
                                <div class="iconContainer9">
                                    <img class="icon" src="../../assets/img/barGraph.png" alt="">
                                </div>

                                <div class="nameOfIconContainer">
                                    <p>Dashboard</p>
                                </div>
                            </div>
                        </a>

                        <a href="">
                            <div class="buttonContainer1">
                                <div class="iconContainer9">
                                    <img class="icon" src="../../assets/img/barGraph.png" alt="">
                                </div>

                                <div class="nameOfIconContainer">
                                    <p>Inventory</p>
                                </div>
                            </div>
                        </a>

                        <a href="">
                            <div class="buttonContainer1">
                                <div class="iconContainer9">
                                    <img class="icon" src="../../assets/img/barGraph.png" alt="">
                                </div>

                                <div class="nameOfIconContainer">
                                    <p>Report</p>
                                </div>
                            </div>
                        </a>

                        <a href="">
                            <div class="buttonContainer1">
                                <div class="iconContainer9">
                                    <img class="icon" src="../../assets/img/barGraph.png" alt="">
                                </div>

                                <div class="nameOfIconContainer">
                                    <p>User list</p>
                                </div>
                            </div>
                        </a>

                        <a href="">
                            <div class="buttonContainer1">
                                <div class="iconContainer9">
                                    <img class="icon" src="../../assets/img/barGraph.png" alt="">
                                </div>

                                <div class="nameOfIconContainer">
                                    <p>Help</p>
                                </div>
                            </div>
                        </a>

                        <a href="">
                            <div class="buttonContainer1">
                                <div class="iconContainer9">
                                    <img class="icon" src="../../assets/img/barGraph.png" alt="">
                                </div>

                                <div class="nameOfIconContainer">
                                    <p>About</p>
                                </div>
                            </div>
                        </a>

                            <div onclick="setting1()" class="buttonContainer1" style="height: 3rem; cursor: pointer;">
                                <div class="iconContainer9">
                                    <img class="icon" src="../../assets/img/barGraph.png" alt="">
                                </div>

                                <div class="nameOfIconContainer">
                                    <p>setting</p>
                                </div>
                            </div>

                        <div class="settingContainer" style="display: none;">
                            <a href="">
                                <div class="buttonContainer1">
                                    <div class="nameOfIconContainer">
                                        <p>My profile</p>
                                    </div>
                                </div>
                            </a>

                            <a href="">
                                <div class="buttonContainer1">
                                    <div class="nameOfIconContainer">
                                        <p>Change Password</p>
                                    </div>
                                </div>
                            </a>

                            <a href="">
                                <div class="buttonContainer1">
                                    <div class="nameOfIconContainer">
                                        <p>Bin</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="subUserContainer">
                    <div class="userPictureContainer">
                        <div class="subUserPictureContainer">
                            <img class="profilePicture" src="" alt="">
                        </div>
                    </div>

                    <div class="userPictureContainer1">
                        <p>Logout</p>
                    </div>
                </div>
            </div>

            <div class="arrowContainer">
                <div class="subArrowContainer">
                    <img class="hideIcon" src="../../assets/img/chevron-left (1).png" alt="">
                </div>
            </div>
        </div>

        <div class="sideBarContainer3">
            <div class="headerContainer1">
                <div class="logoNameContainer1">
                    <img class="systemName" src="../../assets/img/system-name.png" alt="">
                </div>
                <div class="subImageContainer3">
                    <img class="image11" src="../../assets/img/medLogo.png" alt="">
                </div>
            </div>

            <div class="subContainer1">
                <div class="filterContainer1">
                    <div class="inventoryNameContainer">
                        <p>MY PROFILE</p>
                    </div>

                    <div class="subFilterContainer1">
                        <div class="trackContainer">
                            <button class="trackButton1">Go to user units</span></button>
                            <button onclick="popupForm()" class="trackButton1">Edit Profile</span></button>
                        </div>
                    </div>
                </div>

                <div class="userInfoContainer">
                    <div class="subUserInfoContainer">
                        <div class="imageContainer3">
                            <div class="subImageContainer4">
                                <div class="image10">
                                    <img class="image10" src="" alt="">
                                </div>
                            </div>

                            <div class="nameContainer1">
                                <p>@Username</p>
                            </div>

                            <div class="nameContainer1">
                                <p>2023-2024</p>
                            </div>
                        </div>

                        <div class="inputContainer">
                            <div class="subInputContainer">
                                <div class="firstNameContainer">
                                    <div class="labelContainer">
                                        <p>First name:</p>
                                    </div>

                                    <div class="subFirstNameContainer">
                                        <p class="text">khriz marr</p>
                                    </div>
                                </div>

                                <div class="firstNameContainer">
                                    <div class="labelContainer">
                                        <p>Last name:</p>
                                    </div>

                                    <div class="subFirstNameContainer">
                                        <p class="text">khriz marr</p>
                                    </div>
                                </div>

                                <div class="firstNameContainer">
                                    <div class="labelContainer">
                                        <p>M.I:</p>
                                    </div>

                                    <div class="subFirstNameContainer">
                                        <p class="text">khriz marr</p>
                                    </div>
                                </div>
                            </div>

                            <div class="subInputContainer">
                                <div class="firstNameContainer">
                                    <div class="labelContainer">
                                        <p>Designation:</p>
                                    </div>

                                    <div class="subFirstNameContainer">
                                        <p class="text">khriz marr</p>
                                    </div>
                                </div>

                                <div class="firstNameContainer">
                                    <div class="labelContainer">
                                        <p>Department:</p>
                                    </div>

                                    <div class="subFirstNameContainer">
                                        <p class="text">khriz marr</p>
                                    </div>
                                </div>

                                <div class="firstNameContainer">
                                    <div class="labelContainer">
                                        <p>Gender:</p>
                                    </div>

                                    <div class="subFirstNameContainer">
                                        <p class="text">khriz marr</p>
                                    </div>
                                </div>
                            </div>

                            <div class="subInputContainer1">
                                <div class="firstNameContainer">
                                    <div class="labelContainer">
                                        <p>E-mail:</p>
                                    </div>

                                    <div class="subFirstNameContainer">
                                        <p class="text">khriz marr</p>
                                    </div>
                                </div>

                                <div class="firstNameContainer">
                                    <div class="labelContainer">
                                        <p>Permanent address:</p>
                                    </div>

                                    <div class="subFirstNameContainer">
                                        <p class="text">khriz marr</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>

        <div class="editProfileContainer" style="display: block;">
            <div class="editProfileContainer">
                <div class="userInfoContainer">
                    <div class="subUserInfoContainer1">
                        <div class="imageContainer3">
                            <div class="subImageContainer4">
                                <div class="image10">
                                    <img class="image10" src="" alt="">
                                </div>
                            </div>
    
                            <div class="nameContainer1">
                                <input type="file" id="fileInput" style="display: none;">
                                <button class="fileButton" id="fileButton">Choose File</button>
                            </div>
    
                            <div class="nameContainer1">
                                <p>@Username</p>
                            </div>
    
                            <div class="nameContainer1">
                                <p>2023-2024</p>
                            </div>
                        </div>
    
                        <div class="inputContainer">
                            <div class="subInputContainer">
                                <div class="firstNameContainer">
                                    <div class="labelContainer">
                                        <p>First name:</p>
                                    </div>
    
                                    <div class="subFirstNameContainer">
                                        <p class="text">khriz marr</p>
                                    </div>
                                </div>
    
                                <div class="firstNameContainer">
                                    <div class="labelContainer">
                                        <p>Last name:</p>
                                    </div>
    
                                    <div class="subFirstNameContainer">
                                        <p class="text">khriz marr</p>
                                    </div>
                                </div>
    
                                <div class="firstNameContainer">
                                    <div class="labelContainer">
                                        <p>M.I:</p>
                                    </div>
    
                                    <div class="subFirstNameContainer">
                                        <p class="text">khriz marr</p>
                                    </div>
                                </div>
                            </div>
    
                            <div class="subInputContainer">
                                <div class="firstNameContainer">
                                    <div class="labelContainer">
                                        <p>Designation:</p>
                                    </div>
    
                                    <div class="subFirstNameContainer">
                                        <p class="text">khriz marr</p>
                                    </div>
                                </div>
    
                                <div class="firstNameContainer">
                                    <div class="labelContainer">
                                        <p>Department:</p>
                                    </div>
    
                                    <div class="subFirstNameContainer">
                                        <p class="text">khriz marr</p>
                                    </div>
                                </div>
    
                                <div class="firstNameContainer">
                                    <div class="labelContainer">
                                        <p>Gender:</p>
                                    </div>
    
                                    <div class="subFirstNameContainer">
                                        <p class="text">khriz marr</p>
                                    </div>
                                </div>
                            </div>
    
                            <div class="subInputContainer1">
                                <div class="firstNameContainer">
                                    <div class="labelContainer">
                                        <p>E-mail:</p>
                                    </div>
    
                                    <div class="subFirstNameContainer">
                                        <p class="text">khriz marr</p>
                                    </div>
                                </div>
    
                                <div class="firstNameContainer">
                                    <div class="labelContainer">
                                        <p>Permanent address:</p>
                                    </div>
    
                                    <div class="subFirstNameContainer">
                                        <p class="text">khriz marr</p>
                                    </div>
                                </div>
                            </div>

                            <div class="buttonContainer3">
                                <button onclick="popupForm()" class="button1">Cancel</button>
                                <button onclick="popupForm()" class="button2">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../../assets/js/inventory.js"></script>
    <script src="../../assets/js/sidebar.js"></script>
    <script src="../../assets/js/myProfile.js"></script>
</body>
</html>