<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../../assets/css/index.css">
    <link rel="stylesheet" href="../../assets/css/inventory.css">
    <link rel="stylesheet" href="../../assets/css/newEquipOtherInfo.css">
    <link rel="stylesheet" href="../../assets/css/warranty.css">
</head>
<body>
    <div class="container3">
        <div class="sideBarContainer6">
            <div class="userContainer">
                <div class="subUserContainer">
                    <div class="userPictureContainer">
                        <div class="subUserPictureContainer">
                            <img class="profilePicture" src="" alt="">
                        </div>
                    </div>

                    <div class="userPictureContainer1">
                        <p>@UserName</p>
                    </div>
                </div>

                <div class="navContainer">
                    <div class="subNavContainer">
                        <a href="">
                            <div class="buttonContainer1">
                                <div class="iconContainer9">
                                    <img class="icon" src="../../assets/img/barGraph.png" alt="">
                                </div>

                                <div class="nameOfIconContainer">
                                    <p>Dashboard</p>
                                </div>
                            </div>
                        </a>

                        <a href="">
                            <div class="buttonContainer1">
                                <div class="iconContainer9">
                                    <img class="icon" src="../../assets/img/barGraph.png" alt="">
                                </div>

                                <div class="nameOfIconContainer">
                                    <p>Inventory</p>
                                </div>
                            </div>
                        </a>

                        <a href="">
                            <div class="buttonContainer1">
                                <div class="iconContainer9">
                                    <img class="icon" src="../../assets/img/barGraph.png" alt="">
                                </div>

                                <div class="nameOfIconContainer">
                                    <p>Report</p>
                                </div>
                            </div>
                        </a>

                        <a href="">
                            <div class="buttonContainer1">
                                <div class="iconContainer9">
                                    <img class="icon" src="../../assets/img/barGraph.png" alt="">
                                </div>

                                <div class="nameOfIconContainer">
                                    <p>User list</p>
                                </div>
                            </div>
                        </a>

                        <a href="">
                            <div class="buttonContainer1">
                                <div class="iconContainer9">
                                    <img class="icon" src="../../assets/img/barGraph.png" alt="">
                                </div>

                                <div class="nameOfIconContainer">
                                    <p>Help</p>
                                </div>
                            </div>
                        </a>

                        <a href="">
                            <div class="buttonContainer1">
                                <div class="iconContainer9">
                                    <img class="icon" src="../../assets/img/barGraph.png" alt="">
                                </div>

                                <div class="nameOfIconContainer">
                                    <p>About</p>
                                </div>
                            </div>
                        </a>

                            <div onclick="setting1()" class="buttonContainer1" style="height: 3rem; cursor: pointer;">
                                <div class="iconContainer9">
                                    <img class="icon" src="../../assets/img/barGraph.png" alt="">
                                </div>

                                <div class="nameOfIconContainer">
                                    <p>setting</p>
                                </div>
                            </div>

                        <div class="settingContainer" style="display: none;">
                            <a href="">
                                <div class="buttonContainer1">
                                    <div class="nameOfIconContainer">
                                        <p>My profile</p>
                                    </div>
                                </div>
                            </a>

                            <a href="">
                                <div class="buttonContainer1">
                                    <div class="nameOfIconContainer">
                                        <p>Change Password</p>
                                    </div>
                                </div>
                            </a>

                            <a href="">
                                <div class="buttonContainer1">
                                    <div class="nameOfIconContainer">
                                        <p>Bin</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="subUserContainer">
                    <div class="userPictureContainer">
                        <div class="subUserPictureContainer">
                            <img class="profilePicture" src="" alt="">
                        </div>
                    </div>

                    <div class="userPictureContainer1">
                        <p>Logout</p>
                    </div>
                </div>
            </div>

            <div class="arrowContainer">
                <div class="subArrowContainer">
                    <img class="hideIcon" src="../../assets/img/chevron-left (1).png" alt="">
                </div>
            </div>
        </div>

        <div class="sideBarContainer3">
            <div class="headerContainer1">
                <div class="iconContainer10">
                    <div class="subIconContainer10">
                        <img class="subIconContainer10" src="" alt="">
                    </div>
                </div>

                <div class="subHeaderContainer1">
                    <div class="logoNameContainer1">
                        <img class="systemName" src="../../assets/img/system-name.png" alt="">
                    </div>
                    <div class="subImageContainer3">
                        <img class="image11" src="../../assets/img/medLogo.png" alt="">
                    </div>
                </div>
            </div>

            <div class="container2">
                <div class="subContainer2">
                    <div class="headerContainer4">
                        <div class="iconContainer">
                            <div class="subIconContainer">
        
                            </div>
        
                            <div class="textContainer10">
                                <p>lakshdkasgd</p>
                            </div>
                        </div>
        
                        <div class="reportContainer">
                            <a href="report.php?equipment_ID=<?php echo $equipment_ID; ?>&id=<?php echo $userID; ?>">
                                <button class="reportButton">REPORT</button>
                            </a>
                        </div>
                    </div>
        
                    <div class="infoContainer">
                        <div class="subInfoContainer">
                            <div class="imageContainer1">
                                <div class="subImageContainer1">
                                    <div class="image1">
                                        <img class="image1" src="<?php echo $imageURL; ?>" alt="Mountain Placeholder" onerror="this.onerror=null; this.src='../assets/img/img_placeholder.jpg';">
                                    </div>
        
                                </div>
        
                                <div class="equipNameContainer">
                                    <p><?php echo $article; ?></p>
                                </div>
                            </div>
        
                            <div class="subInfoContainer1">
                                <div class="infoEquipContainer">
                                    <div class="subInfoEquipContainer">
                                        <p>User Handler</p>
                                    </div>
        
                                    <div class="subInfoEquipContainer1">
                                        <div class="infoEquip">
                                            <?php foreach ($userInfo as $info): ?>
                                                <div class="userHandler">
                                                    <p><?php echo $info['user']; ?></p>
                                                </div>
                                            <?php endforeach; ?>
                                        </div>
                                    </div>
        
                                    <div class="subInfoEquipContainer2">
                                        <button onclick="popup2()" class="viewButton">View more</button>
                                        
                                        <div class="userContainer1" id="userContainer" style="display: none;">
                                            <div class="subUserContainer2">
                                                <p>NAME</p>
                                                <p>UNIT HANDLE</p>
                                            </div>
        
                                             <?php foreach ($userInfo as $info): ?>
                                                <div class="subUserContainer2">
                                                    <p><?php echo $info['user']; ?></p>
                                                    <p><?php echo $info['units_handled']; ?></p>
                                                </div>
                                            <?php endforeach; ?>
                                            
                                        </div>
                                    </div>
                                </div>
        
                                <div class="infoEquipContainer1">
                                    <div class="subInfoEquipContainer">
                                        <p>Deployment</p>
                                    </div>
        
                                    <div class="subInfoEquipContainer1">
                                        <div class="infoEquip">
                                            <p><?php echo $deployment; ?></p>
                                        </div>
                                    </div>
                                </div>
        
                                <div class="infoEquipContainer2">
                                    <div class="infoEquipContainer3">
                                        <div class="subInfoEquipContainer">
                                            <p>Property Number</p>
                                        </div>
            
                                        <div class="subInfoEquipContainer1">
                                            <div class="infoEquip">
                                                <p><?php echo $property_number; ?></p>
                                            </div>
                                        </div>
                                    </div>
        
                                    <div class="infoEquipContainer3">
                                        <div class="subInfoEquipContainer">
                                            <p>Account Code</p>
                                        </div>
            
                                        <div class="subInfoEquipContainer1">
                                            <div class="infoEquip">
                                                <p><?php echo $account_code; ?></p>
                                            </div>
                                        </div>
                                    </div>
        
                                    <div class="infoEquipContainer3">
                                        <div class="subInfoEquipContainer">
                                            <p>Total Units</p>
                                        </div>
            
                                        <div class="subInfoEquipContainer1">
                                            <div class="infoEquip">
                                                <p><?php echo $units; ?></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
        
                        <div class="infoEquipContainer4">
                            <div class="infoEquipContainer3">
                                <div class="subInfoEquipContainer">
                                    <p>Unit Value</p>
                                </div>
        
                                <div class="subInfoEquipContainer1">
                                    <div class="infoEquip">
                                        <p><?php echo $unit_value; ?></p>
                                    </div>
                                </div>
                            </div>
        
                            <div class="infoEquipContainer3">
                                <div class="subInfoEquipContainer">
                                    <p>Total Value</p>
                                </div>
        
                                <div class="subInfoEquipContainer1">
                                    <div class="infoEquip">
                                        <p><?php echo $total_value; ?></p>
                                    </div>
                                </div>
                            </div>
        
                            <div class="infoEquipContainer3">
                                <div class="subInfoEquipContainer">
                                    <p>Remarks</p>
                                </div>
        
                                <div class="subInfoEquipContainer1">
                                    <div class="infoEquip">
                                        <p><?php echo $remarks; ?></p>
                                    </div>
                                </div>
                            </div>
                        </div>
        
                        <div class="descriptionContainer">
                            <div class="subInfoEquipContainer">
                                <p>Description</p>
                            </div>
        
                            <div class="subDescriptionContainer">
                                <div class="infoEquip">
                                    <p><?php echo $description; ?></p>
                                </div>
                            </div>
                        </div>
        
                        <div class="descriptionContainer">
                            <div class="subInfoEquipContainer">
                                <p>Step How To Use:</p>
                            </div>
        
                            <div class="subDescriptionContainer">
                                <div class="infoEquip">
                                    <p><?php echo $instruction; ?></p>
                                </div>
                            </div>
                        </div>
        
                        <div class="buttonContainer" style="margin-top: 2.4rem;">
                            <button class="button" type="submit" id="btn1">Save</button>
                            <button id="btn2" type="button" class="button" >Cancel</button>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
            <div class="sidebar" id="sidebar">
                <?php include('slideshow.php'); ?>
            </div>
        
            <div id="logoutConfirmation" class="popupContainer">
                <div class="popupContent">
                    <p>Are you sure you want to log out?</p>
                    <div class="popupButtons">
                        <button onclick="logout()">Yes</button>
                        <button onclick="hideLogoutConfirmation()">No</button>
                    </div>
                </div>
            </div>
        
            <div id="logoutConfirmation" class="popupContainer">
                <div class="popupContent">
                    <p>Are you sure you want to log out?</p>
                    <div class="popupButtons">
                        <button onclick="logout()">Yes</button>
                        <button onclick="hideLogoutConfirmation()">No</button>
                    </div>
                </div>
            </div>
        
             </div>
        </div>
    </div>

    <script src="../../assets/js/inventory.js"></script>
    <script src="../../assets/js/sidebar.js"></script>
</body>
</html>