<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../../assets/css/inventory.css">
    <link rel="stylesheet" href="../../assets/css/index.css">
    <link rel="stylesheet" href="../../assets/css/userList.css">
</head>
<body>
    <div class="container3">
        <div class="sideBarContainer6">
            <div class="userContainer">
                <div class="subUserContainer">
                    <div class="userPictureContainer">
                        <div class="subUserPictureContainer">
                            <img class="profilePicture" src="" alt="">
                        </div>
                    </div>

                    <div class="userPictureContainer1">
                        <p>@UserName</p>
                    </div>
                </div>

                <div class="navContainer">
                    <div class="subNavContainer">
                        <a href="">
                            <div class="buttonContainer1">
                                <div class="iconContainer9">
                                    <img class="icon" src="../../assets/img/barGraph.png" alt="">
                                </div>

                                <div class="nameOfIconContainer">
                                    <p>Dashboard</p>
                                </div>
                            </div>
                        </a>

                        <a href="">
                            <div class="buttonContainer1">
                                <div class="iconContainer9">
                                    <img class="icon" src="../../assets/img/barGraph.png" alt="">
                                </div>

                                <div class="nameOfIconContainer">
                                    <p>Inventory</p>
                                </div>
                            </div>
                        </a>

                        <a href="">
                            <div class="buttonContainer1">
                                <div class="iconContainer9">
                                    <img class="icon" src="../../assets/img/barGraph.png" alt="">
                                </div>

                                <div class="nameOfIconContainer">
                                    <p>Report</p>
                                </div>
                            </div>
                        </a>

                        <a href="">
                            <div class="buttonContainer1">
                                <div class="iconContainer9">
                                    <img class="icon" src="../../assets/img/barGraph.png" alt="">
                                </div>

                                <div class="nameOfIconContainer">
                                    <p>User list</p>
                                </div>
                            </div>
                        </a>

                        <a href="">
                            <div class="buttonContainer1">
                                <div class="iconContainer9">
                                    <img class="icon" src="../../assets/img/barGraph.png" alt="">
                                </div>

                                <div class="nameOfIconContainer">
                                    <p>Help</p>
                                </div>
                            </div>
                        </a>

                        <a href="">
                            <div class="buttonContainer1">
                                <div class="iconContainer9">
                                    <img class="icon" src="../../assets/img/barGraph.png" alt="">
                                </div>

                                <div class="nameOfIconContainer">
                                    <p>About</p>
                                </div>
                            </div>
                        </a>

                            <div onclick="setting1()" class="buttonContainer1" style="height: 3rem; cursor: pointer;">
                                <div class="iconContainer9">
                                    <img class="icon" src="../../assets/img/barGraph.png" alt="">
                                </div>

                                <div class="nameOfIconContainer">
                                    <p>setting</p>
                                </div>
                            </div>

                        <div class="settingContainer" style="display: none;">
                            <a href="">
                                <div class="buttonContainer1">
                                    <div class="nameOfIconContainer">
                                        <p>My profile</p>
                                    </div>
                                </div>
                            </a>

                            <a href="">
                                <div class="buttonContainer1">
                                    <div class="nameOfIconContainer">
                                        <p>Change Password</p>
                                    </div>
                                </div>
                            </a>

                            <a href="">
                                <div class="buttonContainer1">
                                    <div class="nameOfIconContainer">
                                        <p>Bin</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="subUserContainer">
                    <div class="userPictureContainer">
                        <div class="subUserPictureContainer">
                            <img class="profilePicture" src="" alt="">
                        </div>
                    </div>

                    <div class="userPictureContainer1">
                        <p>Logout</p>
                    </div>
                </div>
            </div>

            <div class="arrowContainer">
                <div class="subArrowContainer">
                    <img class="hideIcon" src="../../assets/img/chevron-left (1).png" alt="">
                </div>
            </div>
        </div>

        <div class="sideBarContainer3">
            <div class="headerContainer1">
                <div class="logoNameContainer1">
                    <img class="systemName" src="../../assets/img/system-name.png" alt="">
                </div>
                <div class="subImageContainer3">
                    <img class="image11" src="../../assets/img/medLogo.png" alt="">
                </div>
            </div>

            <div class="subContainer1">
                <div class="filterContainer1">
                    <div class="inventoryNameContainer">
                        <p>USER LIST</p>
                    </div>

                    <div class="subFilterContainer1">
                        <div class="searchContainer1">
                            <input class="searchBar1" type="text" name="" id="">
                        </div>

                        <div class="trackContainer">
                            <button onclick="popUp2()" class="trackButton1">Add user <span class="plusIcon">+</span></button>
                        </div>
                    </div>
                </div>

                <div class="userListContainer">
                    <div class="subUserListContainer">
                        <div class="userContainer4">
                            <div class="subUserContainer1">
                                <div class="imageContainer4">
                                    <div class="subImageContainer4">
                                        <img class="image4" src="" alt="">
                                    </div>
                                </div>
    
                                <div class="userNameContainer">
                                    <p>khriz marr falcatan</p>
                                </div>
                            </div>

                            <div class="viewButtonContainer">
                                <button class="viewButton">View details</button>
                            </div>
                        </div>
                    </div>

                    <div class="addUserContainer" style="display: none;">
                        <div class="addUserContainer">
                            <div class="subAddUserContainer">
                                <div class="trackNameContainer">
                                    <div class="subTrackNameContainer">
                                        <p>ADD NEW USER</p>
                                    </div>
                                </div>

                                <div class="infoContainer2">
                                    <div class="userInfoContainer">
                                        <div class="textContainer">
                                            <p>Last name:</p>
                                        </div>
    
                                        <div class="inputNameContainer">
                                            <input type="text" class="inputName">
                                        </div>
                                    </div>
    
                                    <div class="userInfoContainer">
                                        <div class="textContainer">
                                            <p>First name:</p>
                                        </div>
    
                                        <div class="inputNameContainer">
                                            <input type="text" class="inputName">
                                        </div>
                                    </div>
    
                                    <div class="userInfoContainer">
                                        <div class="textContainer">
                                            <p>Middle name:</p>
                                        </div>
    
                                        <div class="inputNameContainer">
                                            <input type="text" class="inputName">
                                        </div>
                                    </div>
    
                                    <div class="userInfoContainer">
                                        <div class="textContainer">
                                            <p>Designation:</p>
                                        </div>
    
                                        <div class="inputNameContainer">
                                            <input type="text" class="inputName">
                                        </div>
                                    </div>
    
                                    <div class="userInfoContainer">
                                        <div class="textContainer">
                                            <p>User name:</p>
                                        </div>
    
                                        <div class="inputNameContainer">
                                            <input type="text" class="inputName">
                                        </div>
                                    </div>
    
                                    <div class="userInfoContainer">
                                        <div class="textContainer">
                                            <p>Default password:</p>
                                        </div>
    
                                        <div class="inputNameContainer">
                                            <input type="text" class="inputName">
                                        </div>
                                    </div>
    
                                    <div class="userInfoContainer">
                                        <div class="textContainer">
                                            <p>Confirm password:</p>
                                        </div>
    
                                        <div class="inputNameContainer">
                                            <input type="text" class="inputName">
                                        </div>
                                    </div>
                                </div>

                                <div class="buttonContainer4">
                                    <button onclick="popUp2()" class="button3">Cancel</button>
                                    <button class="button4">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </div>

    <script src="../../assets/js/userList.js"></script>
    <script src="../../assets/js/sidebar.js"></script>
</body>
</html>