body{
    font-family: system-ui, -apple-system;
    overflow: hidden;
}

.container{
    flex-direction: column;
}

.topContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    width: 90%;
    background-color: rgb(2, 116, 200);
    border-radius: 0.5rem 0.5rem 0 0;
}

.topContainer h2{
    margin-right: auto;
    color: #fff;
}

.topContainer img{
    width: 4rem;
    height: 4rem;
    margin-left: 2rem;
    filter: invert(100%);
}

.inputPassContainer{
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1.5rem;
}

input{
    height: 3rem;
    width: 90%;
    padding-left: 1rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #f7f7f7;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
}

.subContainer1{
    height: 35%;
    width: 90%;
    display: flex;
    row-gap: 1rem;
    flex-direction: column;
    background-color: #fff;
    border-radius: 0 0 0.5rem 0.5rem;
}

form{
    margin-top: 1.5rem;
}

.button{
    width: 10rem;
    margin-top: 3rem;
}

#alert{
    position: absolute;
    display: flex;
    text-align: center;
    align-items: center;
    margin: -1.5rem 0 0 7rem;
}

.error-message {
    color: red;
}

.success-message {
    color: green;
}


/*tablet*/
@media only screen and (min-width: 601px){
    .subContainer1{
        width: 30rem;
    }

    .topContainer{
        width: 30rem;
    }
}