*{
    margin: 0;
    padding: 0;
}

.container3{
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.viewButton6{
    height: 2rem;
    width: 5rem;
    background-color:rgb(2, 116, 200);
    color: snow;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.15s;
}

.viewButton6:hover{
    border: solid rgb(2, 116, 200) 1px;
    background-color: transparent;
    color: rgb(2, 116, 200);
}

.viewButton6:active{
    transform: scale(0.9);
}

.sideBarContainer6{
    height: 100%;
    width: 20rem;
    display: flex;
    flex-direction: column;
    background-color:rgb(2, 116, 200);
    position: fixed;
    animation: closeSideBar 0.5s linear;
}

.openSideBar{
    height: 100%;
    width: 20rem;
    margin-left: -20rem;
    display: flex;
    flex-direction: column;
    background-color:rgb(2, 116, 200);
    position: fixed;
    animation: openSideBar 0.5s linear;
}

.arrowContainer{
    height: 100%;
    width: 1.5rem;
    right: -1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.subArrowContainer{
    width: 100%;
    height: 5rem;
    border-radius: -10rem;
    background-color:rgb(2, 116, 200);
    border-radius: 0 0.5rem 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.hideIcon{
    height: 1.5rem;
    filter: invert(100%);
    animation: rotateLeft 0.5s linear;
}

.rotate{
    height: 1.5rem;
    filter: invert(100%);
    transform: rotate(180deg);
    animation: rotateRight 0.5s linear;
}

.userContainer{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.subUserContainer{
    height: 6rem;
    width: 100%;
    display: grid;
    grid-template-columns: 5rem 1fr;
    border-bottom: solid snow 1px;
}

.userPictureContainer{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.userPictureContainer1{
    height: 100%;
    display: flex;
    align-items: center;
    color: snow;
    font-size: 1.2rem;
    font-weight: bold;
}

.subUserPictureContainer{
    height: 3rem;
    width: 3rem;
    border-radius: 5rem;
    background: rgb(207, 224, 236);
    display: flex;
    align-items: center;
    justify-content: center;
}

.profilePicture{
    width: 100%;
    height: 100%;
    border-radius: 5rem;
}

.navContainer{
    width: 100%;
}

.subNavContainer{
    height: 36rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.buttonContainer1{
    display: flex;
    align-items: center;
    justify-content: right;
    flex-direction: row;
    height: 100%;
    width: 100%;
    transition: all 0.15s
}

.buttonContainer1:hover{
    background: rgb(207, 224, 236);
    color: black;
}

.iconContainer9{
    height: 100%;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon{
    height: 3rem;
}

.nameOfIconContainer{
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    color: snow;
    font-size: 1.2rem;
    transition: all 0.15s
}
.nameOfIconContainer:hover{
    color: black;
}

a{
    text-decoration: none;
}

.settingContainer{
    height: 2.7rem;
}

.sideBarContainer3{
    height: 100%;
    width: 100%;
}

.headerContainer1{
    height: 4rem;
    width: 100%;
    background-color: rgb(255,252,252);
    display: flex;
    align-items: center;
    justify-content: right;
}

.subImageContainer3{
    height: 100%;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image11{
    height: 3.2rem;
}

.logoNameContainer1{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.systemName{
    display: none;
}

.subContainer1{
    height: 91vh;
}

.filterContainer1{
    height: 10rem;
}

.inventoryNameContainer{
    height: 2.5rem;
    margin-top: 1rem;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
}

.subFilterContainer1{
    height: 7.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.searchContainer1{
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
}

.searchBar1{
    height: 2.5rem;
    border-radius: 0.5rem;
    border: solid gray 1px;
    width: 90%;
    padding-left: 0.5rem;
    font-size: 1.2rem;
}

.trackContainer{
    height: 3rem;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trackButton1{
    height: 2.5rem;
    width: 7.5rem;
    border-radius: 0.5rem;
    border: solid gray 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: rgb(255,252,252);
    transition: all 0.15s;
}

.trackButton1:hover{
    background-color:rgb(2, 116, 200);
    color: white;
}

.trackButton1:active{
    background-color:rgb(1, 85, 145);
    color: white;
    transform: scale(0.9);
}

.trackButton{
    height: 2.5rem;
    width: 7.5rem;
    border-radius: 0.5rem;
    border: solid gray 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: rgb(255,252,252);
    transition: all 0.15s;
    position: relative;
}

.plusIcon{
    margin-left: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.tableContainer2{
    height: 41rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.unitContainer{
    height: 3rem;
    width: 93%;
    background-color: rgba(255, 250, 250, 0.582);
    display: flex;
    align-items: center;
    justify-content: right;
}

.unitList{
    height: 2rem;
    width: 7rem;
    margin-right: 0.5rem;
    border-radius: 0.5rem;
    background-color:rgb(2, 116, 200);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

.subTrackContainer{
    position: absolute;
    height: 9rem;
    width: 15rem;
    left: 0;
    top: 3rem;
    border-radius: 0.5rem;
    background-color: rgb(255,252,252);
}

.searhUnitContainer{
    height: 3rem;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    padding-left: 0.5rem;
}

.searchUnitContainer{
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonContainer2{
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: right;
    flex-direction: row;
    gap: 0.5rem;
}

.button3{
    height: 2rem;
    width: 5rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid rgb(2, 116, 200) 1px;
    color: rgb(2, 116, 200);
    transition: all 0.15s;
}

.button3:hover{
    background-color:rgb(2, 116, 200);
    color: snow;
}

.button3:active{
    transform: scale(0.9);
}

.button4{
    background-color: rgb(2, 116, 200);
    height: 2rem;
    width: 5rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid rgb(2, 116, 200) 1px;
    color: snow;
    margin-right: 0.7rem;
    transition: all 0.15s;
}

.button4:hover{
    background-color: transparent;
    border: solid rgb(2, 116, 200) 1px;
    color: rgb(2, 116, 200);
}

.button4:active{
    transform: scale(0.9);
}

.trackUnitContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.144); 
    z-index: 999; 
}

.subTrackUnitContainer{
    height: 43rem;
    width: 90%;
    border-radius: 0.5rem;
    background-color: snow;
}

.trackNameContainer{
    height: 4rem;
    display: flex;
    justify-content: center;
    border-bottom: solid gray 1px;
}

.subTrackNameContainer{
    height: 100%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(2, 116, 200);
}

.unitInfoContainer{
    height: 35rem;
    width: 100%;
    overflow: auto;
}

.buttonContainer3{
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: right;
}

.button5{
    background-color: rgb(2, 116, 200);
    height: 2.5rem;
    width: 7rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid rgb(2, 116, 200) 1px;
    color: snow;
    margin-right: 0.7rem;
    transition: all 0.15s;
    cursor: pointer;
}

.button5:hover{
    background-color: transparent;
    border: solid rgb(2, 116, 200) 1px;
    color: rgb(2, 116, 200);
}

.button5:active{
    transform: scale(0.9);
}

.subUnitInfoContainer{
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.infoContainer1{
}

.imageContainer1{
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.subImageContainer1{
    width: 11rem;
    height: 11rem;
    border-radius: 0.5rem;
    background-color: rgb(2, 116, 200);
}

.image12{
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
}

.equipNameContainer{
    height: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(2, 116, 200);
    font-size: 1.3rem;
}

.subInfoContainer1{
}

.unitIDContainer{
    display: flex;
    flex-direction: column;
}

.unitID{
    height: 6rem;
    padding: 0 0.5rem 0 0.5rem;
    font-size: 1.2rem;
}

.unitInputContainer{
    height: 3rem;
    border-radius: 0.5rem;
    border: solid gray 1px;
    margin-top: 0.5rem;
    background-color: #fff;
}

.oldUserContainer{
    display: flex;
    flex-direction: column;
}

.oldUserTextContainer{
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(2, 116, 200);
    font-size: 1.5rem;
    font-weight: bold;
}

@keyframes rotateRight {
    0%{
        transform: rotate(0deg);
    } 100%{
        transform: rotate(180deg);
    }
}

@keyframes rotateLeft {
    from{
        transform: rotate(180deg);
    } to{
        transform: rotate(0deg);
    }
}

@keyframes closeSideBar {
    from{
        margin-left: -20rem;
    } to{
        margin-right: 0;
    }

}

@keyframes openSideBar {
    from{
        margin-left: 0rem;
    } to{
        margin-left: -20rem;
    }

}

/*tablet*/
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .tableContainer2{
        height: 43.6rem;
    }

    .systemName{
        display: block;
        height: 3rem;
    }

    .filterContainer1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;
        height: 4rem;
        padding: 0 0.5rem 0 0.5rem;
    }

    .subFilterContainer1{
        display: flex;
        flex-direction: row;
        height: 3rem;
        margin-top: 1rem;
    }

    .searchContainer1{
        margin: 0;
    }

    .inventoryNameContainer{
        height: 3rem;
    }
}

/*laptop*/
@media only screen and (min-width: 1025px){
    .tableContainer2{
        height: 43.6rem;
    }

    .systemName{
        display: block;
        height: 3rem;
    }

    .filterContainer1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;
        height: 4rem;
        padding: 0 2rem 0 2rem;
    }

    .subFilterContainer1{
        display: flex;
        flex-direction: row;
        height: 3rem;
        margin-top: 1rem;
    }

    .searchContainer1{
        margin: 0;
        width: 30rem;
    }

    .inventoryNameContainer{
        height: 3rem;
    }

    .sideBarContainer6{
        width: 20rem;
        animation: closeSideBar 0.5s linear;
    }
    
    .openSideBar{
        width: 20rem;
        margin-left: -20rem;
        animation: openSideBar 0.5s linear;
    }

    .infoContainer1{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .subInfoContainer1{
        display: flex;
        flex-direction: column;
        width: 65%;
        height: 12rem;
    }

    .imageContainer1{
        width: 20rem;
        height: 20rem;
    }

    .subImageContainer1{
        height: 15rem;
        width: 15rem;
    }

    .unitIDContainer{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .unitID{
        width: 100%;
    }

    .subTrackUnitContainer{
        width: 60rem;
    }

    @keyframes closeSideBar {
        from{
            margin-left: -20rem;
        } to{
            margin-right: 0;
        }
    
    }
    
    @keyframes openSideBar {
        from{
            margin-left: 0rem;
        } to{
            margin-left: -20rem;
        }
    
    }
}